{% extends "frontend/applications/detail/_base.html" %}

{% block page_title %}Applications | {{ application.name }}{% endblock %}

{% block content %}
  <p>{{ application.description }}</p>
  <h3>Metadata</h3>

  <div class="card">
    <div class="card-header">Metadata</div>
    <div class="card-block">

    </div>
  </div>

  <h3>Activity Feed</h3>
  <ul class="media-list">
  {% for event in activity_feed %}
    <li class="media">
      <div class="media-body">
        {{ event }}
      </div>
    </li>
  {% endfor %}
  </ul>


  <ul>
    <li>Metadata</li>
    <li>Technologies and Regulations</li>
    <li>Production Environment</li>
    <li>Application Profile Completion</li>
    <li>ThreadFix Metrics</li>
    <li>Latest Benchmark Scores</li>
    <li>Most Recent Engagement</li>
    <li>Last time each activity was Done</li>
    <li>Activity Feed</li>
  </ul>

{% endblock %}
