{% extends "boh/base.html" %}

{% block title %}Logout{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1 class="text-primary"><span class="hidden-xs">Thanks for using the </span><strong>Bag of Holding</strong><span class="hidden-xs">.</span></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <p class="lead text-muted">You have successfully logged out.</p>
  </div>
  <div class="col-md-5">
    <a href="{% url 'django.contrib.auth.views.login' %}" class="btn btn-primary btn-lg btn-block" role="button">Return to Log in</a>
  </div>
</div>
{% endblock %}
