{% extends "boh/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div id="title" class="page-header">
      <h1 class="text-primary"><span class="hidden-xs">{% trans 'Welcome to the' %} </span><strong>Bag of Holding</strong><span class="hidden-xs">.</span></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <div id="about" class="jumbotron hidden-xs" style="background-image:url({% static 'boh/img/bag_white.png' %}); background-position: left center; background-repeat: no-repeat; background-size: 180px 180px;}">
      <p class="lead text-muted">{% trans 'The <strong>Bag of Holding</strong> is an application security utility to assist in the organization and prioritization of software security activities.' %}</p>
    </div>
  </div>
  <div class="col-md-5">
    {% if form.errors %}<div class="alert alert-danger" role="alert">{% trans 'The username or password you entered is not valid.' %}</div>{% endif %}
    <div id="login" class="panel panel-default">
      <div class="panel-body">
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}" />
          <div class="form-group">
            <label for="{{ form.username.id_for_label }}" class="sr-only">{{ form.username.label }}</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
              {{ form.username | add_class:"form-control" | add_class:"input-lg" | attr:"placeholder:Username" | attr:"autofocus" }}
            </div>
          </div>
          <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="sr-only">{{ form.password.label }}</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
              {{ form.password | add_class:"form-control" | add_class:"input-lg" | attr:"placeholder:Password" }}
            </div>
          </div>
          <button class="btn btn-primary btn-lg btn-block" type="submit">{% trans 'Log in' %}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
// $(function () {
//   if (!$(".alert").length) {
//     $("#title").hide();
//     $("#about").hide();
//     $("#login").hide();
//     $("#footer").hide();
//
//     $("#title").delay(500).fadeIn(1000, function() {
//       $("#about").fadeIn(function() {
//         $("#login").fadeIn();
//       });
//       $("#footer").delay(2000).fadeIn(2000);
//     });
//   }
// });
</script>
{% endblock js %}
