// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$gray-light: #434857;
$gray-lighter: #51586a;
$brand-primary: #1ca8dd;


// Body
//
// Settings for the `<body>` element.

$body-bg: #252830;
$body-color: #cfd2da;
