# Excluding migrations until model is finalized
project/*/migrations/*
!project/*/migrations/__init__.py
!project/boh/migrations/0001_initial.py
!project/boh/migrations/0002_load_data.py
!project/boh/migrations/0003_v1_0_1.py
!project/boh/migrations/0004_v1_0_2.py
!project/boh/migrations/0005_v1_0_3.py
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django
*.log
db.sqlite3
/static/
/media/

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Node
node_modules
.temp
.sass-cache
bower_components
