{% extends "boh/management/base_management.html" %}

{% load i18n %}

{% block title %}{% trans 'Manage Settings' %} | {% trans 'Activity Types' %}{% endblock %}

{% block manage_content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans 'Activity Types' %}</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">{% trans 'Activity types define what activities are and can contain documention for how that activity should be performed. The documentation will be visible on each activity of that type, making it a great place to include standard operating procedures, links, or anything else common amongst activities.' %}</li>
    {% if not activity_types %}
    <li class="list-group-item"><small class="text-muted"><em>{% trans 'There are no activity types.' %}</em></small></li>
    {% endif %}
  </ul>
  {% if activity_types %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{% trans 'Name' %}</th>
          <th>{% trans 'Documentation' %}</th>
          <th>{% trans 'Activities' %}</th>
          <th>{% trans 'Actions' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for activity_type in activity_types %}
        <tr>
          <td>{{ activity_type.name }}</td>
          <td>{% if activity_type.documentation %}<a href="{% url 'boh:management.activity_types.documentation' activity_type.id %}">{% trans 'View' %}</a>{% endif %}</td>
          <td>{{ activity_type.activity_set.count }}</td>
          <td><a href="{% url 'boh:management.activity_types.edit' activity_type.id %}">{% trans 'Edit' %}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
  <div class="panel-footer">
    <a href="{% url 'boh:management.activity_types.add' %}" class="btn btn-success btn-sm" role="button"><span class="fa fa-plus" aria-hidden="true"></span> {% trans 'New Activity Type' %}</a>
  </div>
</div>
{% endblock manage_content %}
