{% extends "boh/management/base_management.html" %}

{% load i18n %}
{% load markdown_render %}

{% block title %}{% trans 'Manage Settings' %} | {% trans 'Activity Types' %} | {{ activity_type.name }} | {% trans 'Documentation' %}{% endblock %}

{% block manage_content %}
<h3 class="no-margin-top"><span class="fa fa-file-text-o" aria-hidden="true"></span> {{ activity_type.name }} {% trans 'Documentation' %}</h3>
<hr>
{{ activity_type.documentation|markdown_render }}
{% endblock manage_content %}
