{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Bag of Holding | {% block title %}{% endblock %}</title>

  <link href="{% static 'boh/css/application.min.css' %}" rel="stylesheet">
  {% block css %}
  {% endblock css %}

  <script src="{% static 'boh/js/modernizr.min.js' %}"></script>
</head>
<body>
  <div class="wrapper">
    {% if user.is_authenticated %}
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'boh:dashboard.personal' %}">Bag of Holding</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li{% if active_top == 'dashboard' %} class="active"{% endif %}><a href="{% url 'boh:dashboard.personal' %}"><span class="fa fa-tasks" aria-hidden="true"></span> Dashboard</a></li>
            <li{% if active_top == 'applications' %} class="active"{% endif %}><a href="{% url 'boh:application.list' %}"><span class="fa fa-list-alt" aria-hidden="true"></span> Applications</a></li>
            <li{% if active_top == 'people' %} class="active"{% endif %}><a href="{% url 'boh:person.list' %}"><i class="fa fa-users" aria-hidden="true"></i> People</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_staff %}
            <li{% if active_top == 'management' %} class="active"{% endif %}><a href="{% url 'boh:management.services' %}"><span class="fa fa-cogs" aria-hidden="true"></span></span><span class="hidden-sm"> Manage</span></a></li>
            {% endif %}
            <li class="dropdown{% if active_top == 'user' %} active{% endif %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-user" aria-hidden="true"></span> {{ user.first_name }} {{ user.last_name }} <span class="fa fa-caret-down" aria-hidden="true"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'boh:user.profile' %}"><span class="fa fa-user" aria-hidden="true"></span> My Profile</a></li>
                <li><a href="{% url 'boh:user.change_password' %}"><span class="fa fa-key" aria-hidden="true"></span> Change Password</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'django.contrib.auth.views.logout' %}"><span class="fa fa-sign-out" aria-hidden="true"></span> Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endif %}
    <div class="container">
      {% if messages %}
      <div class="row">
        <div class="col-md-12">
          {% for message in messages %}
          <div class="alert alert-{{ message.level_tag }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="fa fa-times" aria-hidden="true"></span></button>
            {% if message.extra_tags %}<strong>{{ message.extra_tags }}</strong> {% endif %}{{ message }}
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% block content %}
      {% endblock content %}
    </div>
  </div>

  <footer id="footer" class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 clearfix">
          <span class="text-muted pull-right"><strong>CONFIDENTIAL</strong></span>
          <span class="text-muted"><span class="fa fa-copyright" aria-hidden="true"></span> 2015 Pearson{% if user.is_authenticated %} &raquo; <a href="https://devops-tools.pearson.com/stash/projects/APPSEC/repos/bag-of-holding/" target="_blank">v1.0.1</a>{% endif %}</span>
        </div>
      </div>
    </div>
  </footer>

  <script src="{% static 'boh/js/application.min.js' %}"></script>
  {% block js %}
  {% endblock js %}
</body>
</html>
