{% extends "boh/management/base_management.html" %}

{% load i18n %}

{% block title %}{% trans 'Manage Settings' %} | {% trans 'Data Elements' %} | {{ data_element.name }} | {% trans 'Edit' %} {% endblock %}

{% block manage_content %}
<form method="post" action="{% url 'boh:management.data_elements.edit' data_element.id %}">
  {% csrf_token %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{% trans 'Edit Data Element' %}</h3>
    </div>
    <div class="panel-body">
      {% include "boh/snippets/form/_general.html" with control=data_element_form.name %}
      {% include "boh/snippets/form/_general.html" with control=data_element_form.category %}
      {% include "boh/snippets/form/_general.html" with control=data_element_form.description %}
      {% include "boh/snippets/form/_general.html" with control=data_element_form.weight %}
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" type="submit">{% trans 'Update Data Element' %}</button>
      <a href="{% url 'boh:management.data_elements' %}" class="btn btn-default" role="button">{% trans 'Cancel' %}</a>
    </div>
  </div>
</form>

<form method="post" action="{% url 'boh:management.data_elements.delete' data_element.id %}">
  {% csrf_token %}
  <button class="btn btn-danger pull-right" type="submit" onclick="return confirm('{% trans 'Are you sure want to delete this data element?' %}');"><span class="fa fa-trash-o" aria-hidden="true"></span> {% trans 'Delete Activity Type' %}</button>
</form>
{% endblock manage_content %}
