{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Add Activity{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Add Activity</h2>
    <div class="well well-lg">
      <form method="post" action="{% url 'tracker:activity.add' engagement.id %}">
        {% csrf_token %}

        {% include "forms/form_snippet.html" with control=form.activity_type %}
        {% include "forms/form_snippet.html" with control=form.users %}

        <a href="{% url 'tracker:engagement.detail' engagement.id %}" class="btn btn-default" role="button">Cancel</a>
        <button class="btn btn-primary" type="submit">Add Activity</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
