{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Activity{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <a href="{% url 'tracker:engagement.detail' activity.engagement.id %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Return to Engagement</a>
    <a href="" class="btn btn-default pull-right" role="button"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Activity</a>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-8">
    <h2 class="no-margin-top">{{ activity.get_activity_type_display }} <small>{{ activity.start_date }} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> {{ activity.end_date }}</small></h2>
  </div>
  <div class="col-md-4">

    <div class="btn-group btn-group-justified" role="group" aria-label="status">
      <a href="#" class="btn btn-default{% if activity.is_pending %} active{% endif %}" role="button"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span> Pending</a>
      <a href="#" class="btn btn-default{% if activity.is_open %} active{% endif %}" role="button"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Open</a>
      <a href="#" class="btn btn-default{% if activity.is_closed %} active{% endif %}" role="button"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Closed</a>
    </div>
  </div>
</div>
{% endblock %}
