{% extends "base.html" %}

{% load widget_tweaks %}
{% load humanize %}

{% block title %}Activity{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <a href="{% url 'tracker:engagement.detail' activity.engagement.id %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Return to Engagement</a>
    <a href="{% url 'tracker:activity.edit' activity.id %}" class="btn btn-default pull-right" role="button"><span class="fa fa-pencil-square-o" aria-hidden="true"></span> Edit Activity</a>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-8">
    <h2 class="no-margin-top">{{ activity.get_activity_type_display }}</h2>
    <p>Opened: {{ activity.open_date }}</p>
    <p>Closed: {{ activity.close_date }}</p>
    <hr>
    <h3>Assigned Users</h3>
    {% if activity.users.all %}
    <ul class="list-group">
      {% for user in activity.users.all %}
      <li class="list-group-item">{{ user.first_name }} {{ user.last_name }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="text-muted">No assigned users</p>
    {% endif %}

    <hr>

    <h3><span class="fa fa-comments" aria-hidden="true"></span> Comments</h3>
    {% if comments %}
    {% for comment in comments %}
    <blockquote>
      <p>{{ comment.message }}</p>
      <footer>{{ comment.user.first_name }} {{ comment.user.last_name }}, {{ comment.modified_date|naturaltime }}</footer>
    </blockquote>
    {% endfor %}
    {% else %}
    <p class="text-muted">No comments</p>
    {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add comment</h3>
      </div>
      <div class="panel-body">
        <form method="post" action="{% url 'tracker:activity.comment.add' activity.id %}">
          {% csrf_token %}
          {% include "forms/form_snippet.html" with control=form.message %}

          <button class="btn btn-default" type="submit">Post comment</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="btn-group btn-group-justified" role="group" aria-label="status">
      <a href="#" class="btn btn-default{% if activity.is_pending %} active{% endif %}" role="button"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span> Pending</a>
      <a href="#" class="btn btn-default{% if activity.is_open %} active{% endif %}" role="button"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Open</a>
      <a href="#" class="btn btn-default{% if activity.is_closed %} active{% endif %}" role="button"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Closed</a>
    </div>
  </div>
</div>
{% endblock %}
