{% extends "tracker/activities/base_activities.html" %}

{% load humanize %}

{% block title %}{{ application.name }} | {{ activity.engagement.start_date }} - {{ activity.engagement.end_date }} | {{ activity.get_activity_type_display }}{% endblock %}

{% block engagement_breadcrumb %}
<li><a href="{% url 'tracker:application.engagements' application.id %}">Engagements</a></li>
<li><a href="{% url 'tracker:engagement.detail' activity.engagement.id %}">{{ activity.engagement.start_date }} - {{ activity.engagement.end_date }}</a></li>
<li class="active">{{ activity.get_activity_type_display }}</li>
{% endblock engagement_breadcrumb %}

{% block activity_content %}
<div class="row">
  <div class="col-md-8">
    <h3 class="no-margin-top"><span class="fa fa-clock-o" aria-hidden="true"></span> {{ activity.get_activity_type_display }}</h3>
    {% if activity.description %}<p>{{ activity.description }}</p>{% endif %}

    <div class="btn-group" role="group" aria-label="status">
      <a href="#" class="btn btn-default{% if activity.is_pending %} active{% endif %}" role="button"><span class="fa fa-info-circle" aria-hidden="true"></span><span class="hidden-xs"> Pending</span></a>
      <a href="#" class="btn btn-default{% if activity.is_open %} active{% endif %}" role="button"><span class="fa fa-exclamation-circle" aria-hidden="true"></span><span class="hidden-xs"> Open</span></a>
      <a href="#" class="btn btn-default{% if activity.is_closed %} active{% endif %}" role="button"><span class="fa fa-check-circle" aria-hidden="true"></span><span class="hidden-xs"> Closed</span></a>
    </div>

    <hr>

    <h3><span class="fa fa-users" aria-hidden="true"></span> Assigned Users</h3>
    <p class="text-muted">Users designated to complete this activity.</p>
    <ul class="list-group">
      {% if activity.users.all %}
      {% for user in activity.users.all %}
      <li class="list-group-item">{% if user.first_name and user.last_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user }}{% endif %}</li>
      {% endfor %}
      {% else %}
      <li class="list-group-item list-group-item-danger">No users have been assigned to this activity</li>
      {% endif %}
    </ul>


    <hr>

    <h3><span class="fa fa-comments" aria-hidden="true"></span> Comments</h3>
    <p class="text-muted">Leave comments about this activity.</p>
    {% for comment in activity.activitycomment_set.all %}
    <div class="panel panel-default">
      <div class="panel-body">
        {{ comment.message }}
      </div>
      <div class="panel-footer"><span class="text-muted"><strong>{% if comment.user.first_name and comment.user.last_name %}{{ comment.user.first_name }} {{ comment.user.last_name }}{% else %}{{ user }}{% endif %}</strong><span class="hidden-xs"> commented {{ comment.modified_date|naturaltime }}</span></span></div>
    </div>
    {% endfor %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Leave a comment</h3>
      </div>
      <div class="panel-body">
        <form method="post" action="{% url 'tracker:activity.comment.add' activity.id %}">
          {% csrf_token %}
          {% include "forms/form_snippet.html" with control=form.message %}
          <button class="btn btn-success" type="submit">Comment</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well hidden-sm hidden-xs">
      <p>Documentation about how activity work here.</p>
      <p>Opened: {{ activity.open_date }}</p>
      <p>Closed: {{ activity.close_date }}</p>
    </div>
    <a href="{% url 'tracker:activity.edit' activity.id %}" class="btn btn-default" role="button"><span class="fa fa-pencil-square-o" aria-hidden="true"></span> Edit Activity</a>
  </div>
</div>
{% endblock activity_content %}
