{% extends "base.html" %}

{% block title %}Edit Activity{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form method="post" action="{% url 'tracker:activity.edit' activity.id %}">
      {% csrf_token %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Edit Activity</h3>
        </div>
        <div class="panel-body">
          {% include "forms/form_snippet.html" with control=form.status %}
          {% include "forms/form_snippet.html" with control=form.activity_type %}
          {% include "forms/form_snippet.html" with control=form.description %}
          {% include "forms/form_snippet.html" with control=form.users %}
        </div>
        <div class="panel-footer">
          <div class="pull-right">
            <button class="btn btn-primary" type="submit">Update Activity</button>
            <a href="{% url 'tracker:activity.detail' activity.id %}" class="btn btn-default" role="button">Cancel</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form method="post" action="{% url 'tracker:activity.delete' activity.id %}">
      {% csrf_token %}
      <button class="btn btn-danger pull-right" type="submit" onclick="return confirm('Are you sure want to delete this activity?');">Delete Activity</button>
    </form>
  </div>
</div>
{% endblock %}
