{% extends '_base.html' %}

{% block body %}
  <nav class="navbar navbar-fixed-top navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="{% url 'frontend:home' %}">Bag of Holding</a>
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'frontend:home' %}"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'frontend:applications.list' %}"><i class="fa fa-list-alt"></i> Applications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'frontend:engagements.list' %}"><i class="fa fa-calendar"></i> Engagements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">People</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Management</a>
        </li>
        <li class="nav-item dropdown pull-lg-right">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ user.get_full_name }}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#"><i class="fa fa-user fa-fw"></i> My Profile</a>
            <a class="dropdown-item" href="#"><i class="fa fa-key fa-fw"></i> Change Password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'frontend:logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>


  <div class="container">
  {% block container %}{% endblock %}
  </div>
{% endblock %}
