{% extends '_base.html' %}

{% block body %}
  <nav class="navbar navbar-fixed-top navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">Bag of Holding</a>
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fa fa-home fa-fw"></i> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'frontend:applications.list' %}"><span class="fa fa-list-alt" aria-hidden="true"></span> Applications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="fa fa-calendar" aria-hidden="true"></span> Engagements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">People</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Management</a>
        </li>
        <li class="nav-item dropdown pull-lg-right">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ user.get_full_name }}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">My Profile</a>
            <a class="dropdown-item" href="#">Change Password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>


  <div class="container">
  {% block container %}{% endblock %}
  </div>
{% endblock %}
