{% extends "tracker/environments/edit/base_edit.html" %}

{% block edit_content %}
<form method="post" action="{% url 'tracker:environment.edit.general' environment.id %}">
  {% csrf_token %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">General Information</h3>
    </div>
    <div class="panel-body">
      {% include "forms/form_snippet.html" with control=form.environment_type %}
      {% include "forms/form_snippet.html" with control=form.description %}
      {% include "forms/form_checkbox_snippet.html" with control=form.testing_approved %}
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" type="submit">Update General Information</button>
    </div>
  </div>
</form>
{% endblock edit_content %}
