{% extends "boh/activity/base_activities.html" %}
{% load i18n %}

{% block title %}{{ application.name }} | {{ activity.engagement.start_date }} - {{ activity.engagement.end_date }} | {{ activity.activity_type.name }} | {% trans 'Edit Activity' %}{% endblock %}

{% block engagement_breadcrumb %}
<li><a href="{% url 'boh:application.engagements' application.id %}">{% trans 'Engagements' %}</a></li>
<li><a href="{% url 'boh:engagement.detail' activity.engagement.id %}">{{ activity.engagement.start_date }} - {{ activity.engagement.end_date }}</a></li>
<li><a href="{% url 'boh:activity.detail' activity.id %}">{{ activity.activity_type.name }}</a></li>
<li class="active">{% trans 'Edit Activity' %}</li>
{% endblock engagement_breadcrumb %}

{% block activity_content %}
<div class="row">
  <div class="col-md-8">
    <form method="post" action="{% url 'boh:activity.edit' activity.id %}">
      {% csrf_token %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans 'Edit Activity' %}</h3>
        </div>
        <div class="panel-body">
          {% include "boh/snippets/form/_general.html" with control=form.status %}
          {% include "boh/snippets/form/_general.html" with control=form.activity_type %}
          {% include "boh/snippets/form/_markdown.html" with control=form.description %}
          {% include "boh/snippets/form/_general.html" with control=form.users %}
        </div>
        <div class="panel-footer">
          <button class="btn btn-primary" type="submit">{% trans 'Update Activity' %}</button>
          <a href="{% url 'boh:activity.detail' activity.id %}" class="btn btn-default" role="button">{% trans 'Cancel' %}</a>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-4">
    <div class="well hidden-sm hidden-xs">
      <p>{% trans 'Documentation about how activity work here.' %}</p>
    </div>
    <form method="post" action="{% url 'boh:activity.delete' activity.id %}">
      {% csrf_token %}
      <button class="btn btn-danger" type="submit" onclick="return confirm('{% trans 'Are you sure want to delete this activity?' %}');"><span class="fa fa-trash-o" aria-hidden="true"></span> {% trans 'Delete Activity' %}</button>
    </form>
  </div>
</div>
{% endblock activity_content %}
