{% extends "boh/base.html" %}

{% load i18n %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2 class="no-margin-top"><a href="{% url 'boh:organization.overview' organization.id %}">{{ organization.name }}</a></h2>
    <ul class="nav nav-tabs horizontal-bar">
      <li role="presentation"{% if active_tab == 'overview' %} class="active"{% endif %}><a href="{% url 'boh:organization.overview' organization.id %}"><span class="fa fa-home" aria-hidden="true"></span><span class="hidden-xs"> {% trans 'Overview' %}</span></a></li>
      <li role="presentation"{% if active_tab == 'applications' %} class="active"{% endif %}><a href="{% url 'boh:organization.applications' organization.id %}"><span class="fa fa-list-alt" aria-hidden="true"></span><span class="hidden-xs"> {% trans 'Applications' %}{% if organization.application_set.all %} <span class="badge">{{ organization.application_set.count }}</span>{% endif %}</span></a></li>
      <li role="presentation"{% if active_tab == 'people' %} class="active"{% endif %}><a href="{% url 'boh:organization.people' organization.id %}"><span class="fa fa-users" aria-hidden="true"></span><span class="hidden-xs"> {% trans 'People' %}{% if organization.people.all %} <span class="badge">{{ organization.people.count }}</span>{% endif %}</span></a></li>
      <li role="presentation"{% if active_tab == 'settings' %} class="active"{% endif %}><a href="{% url 'boh:organization.settings.general' organization.id %}"><span class="fa fa-cogs" aria-hidden="true"></span><span class="hidden-xs">  {% trans 'Settings' %}</span></a></li>
    </ul>
  </div>
</div>

{% block organization_content %}
{% endblock organization_content %}
{% endblock content %}
