{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Engagement{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <a href="{% url 'tracker:application.detail' engagement.application.id %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Return to Application</a>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-8">
    <h2 class="no-margin-top">Engagement <small>{{ engagement.start_date }} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> {{ engagement.end_date }}</small></h2>
    <p>Status: {{ engagement.get_status_display }}</p>
    <p>Start: {{ engagement.start_date }}</p>
    <p>End: {{ engagement.end_date }}</p>
    <p>Opened: {{ engagement.open_date }}</p>
    <p>Closed: {{ engagement.close_date }}</p>
    <p>{% if engagement.is_open %}LLAAA{% endif %}</p>
  </div>
  <div class="col-md-4">
    <div class="btn-group btn-group-justified" role="group" aria-label="status">
      <a href="#" class="btn btn-default btn-lg{% if engagement.is_open %} active{% endif %}" role="button">Open</a>
      <a href="#" class="btn btn-default btn-lg{% if engagement.is_closed %} active{% endif %}" role="button">Closed</a>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-9">
    <h3 class="no-margin-top">Activities</h3>
    <p class="text-muted">TODO: Description</p>
    <h4>Open</h4>
    {% if open_activities %}
      <div class="list-group">
        {% for activity in open_activities %}
        <a href="{% url 'tracker:activity.detail' activity.id %}" class="list-group-item">{{ activity.get_activity_type_display }}</a>
        {% endfor %}
      </div>
    {% else %}
    <p class="text-muted">No open activities</p>
    {% endif %}
    <h4>Closed</h4>
    {% if closed_activities %}
    <div class="list-group">
      {% for activity in closed_activities %}
      <a href="#" class="list-group-item">{{ activity.get_activity_type_display }}</a>
      {% endfor %}
    </div>
    {% else %}
    <p class="text-muted">No closed activities</p>
    {% endif %}
  </div>
  <div class="col-md-3">
    <a href="" class="btn btn-default pull-right" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Activity</a>
  </div>
</div>

<div class="row">

</div>
{% endblock %}
