{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Edit Engagement{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form method="post" action="{% url 'tracker:engagement.edit' engagement.id %}">
      {% csrf_token %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Edit Engagement</h3>
        </div>
        <div class="panel-body">
          {% include "forms/form_snippet.html" with control=form.status %}
          {% include "forms/form_snippet.html" with control=form.start_date %}
          {% include "forms/form_snippet.html" with control=form.end_date %}
        </div>
        <div class="panel-footer">
          <button class="btn btn-primary" type="submit">Update Application</button>
          <a href="{% url 'tracker:engagement.detail' engagement.id %}" class="btn btn-default" role="button">Cancel</a>
        </div>
      </div>
    </form>
    <form method="post" action="{% url 'tracker:engagement.delete' engagement.id %}">
      {% csrf_token %}
      <button class="btn btn-danger pull-right" type="submit" onclick="return confirm('Are you sure want to delete this engagement?');">Delete Engagement</button>
    </form>

  </div>
</div>
{% endblock %}
