{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Edit Engagement{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2>Edit Engagement</h2>

    <div role="tabpanel">
      <form method="post" action="{% url 'tracker:engagement.edit' engagement.id %}">
        {% csrf_token %}

        <div class="form-group{% if form.status.errors %} has-error has-feedback{% endif %}">
          <label class="control-label" for="{{ form.status.id_for_label }}">{{ form.status.label }}</label>
          {{ form.status | add_class:"form-control" }}
          {% if form.status.errors %}
          {% for error in form.status.errors %}
          <p class="help-block">{{ error }}</p>
          {% endfor %}
          {% endif %}
          {% if form.status.help_text %}<p class="help-block">{{ form.status.help_text }}</p>{% endif %}
        </div>

        <div class="form-group{% if form.start_date.errors %} has-error has-feedback{% endif %}">
          <label class="control-label" for="{{ form.start_date.id_for_label }}">{{ form.start_date.label }}</label>
          {{ form.start_date | add_class:"form-control" }}
          {% if form.start_date.errors %}
          {% for error in form.start_date.errors %}
          <p class="help-block">{{ error }}</p>
          {% endfor %}
          {% endif %}
          {% if form.start_date.help_text %}<p class="help-block">{{ form.start_date.help_text }}</p>{% endif %}
        </div>

        <div class="form-group{% if form.end_date.errors %} has-error has-feedback{% endif %}">
          <label class="control-label" for="{{ form.end_date.id_for_label }}">{{ form.end_date.label }}</label>
          {{ form.end_date | add_class:"form-control" }}
          {% if form.end_date.errors %}
          {% for error in form.end_date.errors %}
          <p class="help-block">{{ error }}</p>
          {% endfor %}
          {% endif %}
          {% if form.end_date.help_text %}<p class="help-block">{{ form.end_date.help_text }}</p>{% endif %}
        </div>

        <div class="well">
          <button class="btn btn-primary btn-block" type="submit">Update Application</button>
          <a href="{% url 'tracker:engagement.detail' engagement.id %}" class="btn btn-default btn-block" role="button">Cancel</a>
        </div>

      </form>
    </div>


    <form method="post" action="{% url 'tracker:engagement.delete' engagement.id %}">
      {% csrf_token %}
      <button class="btn btn-danger pull-right" type="submit" onclick="return confirm('Are you sure want to delete this engagement?');">Delete Engagement</button>
    </form>


  </div>
</div>
{% endblock %}
