{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Add Organization{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form method="post" action="{% url 'tracker:organization.add' %}">
      {% csrf_token %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add Organization</h3>
        </div>
        <div class="panel-body">
          {% include "forms/form_snippet.html" with control=form.name %}
          {% include "forms/form_snippet.html" with control=form.description %}
        </div>
        <div class="panel-footer">
          <div class="pull-right">
            <button class="btn btn-primary" type="submit">Add Organization</button>
            <a href="{% url 'tracker:application.list' %}" class="btn btn-default" role="button">Cancel</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
