<a href="{% url 'tracker:engagement.detail' engagement.id %}" class="list-group-item{% if engagement.is_past_due %} list-group-item-danger{% elif engagement.is_ready_for_work %} list-group-item-warning{% endif %}">
  {% if engagement.engagementcomment_set.all %}
  <span class="badge hidden-xs"><span class="fa fa-comments" aria-hidden="true"></span> {{ engagement.engagementcomment_set.count }}</span>
  {% endif %}
  <h4 class="list-group-item-heading">{{ engagement.start_date|date:"M. j, Y" }} - {{ engagement.end_date|date:"M. j, Y" }}</h4>
  <p class="list-group-item-text">{% if engagement.start_date == engagement.end_date %}1 day{% else %}{{ engagement.start_date|timesince:engagement.end_date }}{% endif %}
    {% for activity in engagement.activity_set.all %}
    <span class="label label-default hidden-xs">{{ activity.get_activity_type_display }}</span>
    {% empty %}
    <span class="label label-danger">No activities for this engagement</span>
    {% endfor %}
  </p>
  {% if engagement.description %}
  <p class="list-group-item-text hidden-xs"><small>{{ engagement.description|truncatechars:70 }}</small></p>
  {% endif %}
</a>
