{% extends "boh/application/base_applications.html" %}

{% load i18n %}

{% block application_content %}
<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-cogs" aria-hidden="true"></span> {% trans 'Application Settings' %}</h3>
      </div>
      <div class="list-group">
        <a href="{% url 'boh:application.settings.general' application.id %}" class="list-group-item{% if active_side == 'general' %} active{% endif %}"><span class="fa fa-book fa-fw" aria-hidden="true"></span> {% trans 'General' %}</a>
        <a href="{% url 'boh:application.settings.metadata' application.id %}" class="list-group-item{% if active_side == 'metadata' %} active{% endif %}"><span class="fa fa-info-circle fa-fw" aria-hidden="true"></span> {% trans 'Metadata' %}</a>
        <a href="{% url 'boh:application.settings.data-elements' application.id %}" class="list-group-item{% if active_side == 'data_elements' %} active{% endif %}"><span class="fa fa-cubes fa-fw" aria-hidden="true"></span> {% trans 'Data Elements' %}</a>
        <a href="{% url 'boh:application.settings.service-level-agreements' application.id %}" class="list-group-item{% if active_side == 'agreements' %} active{% endif %}"><span class="fa fa-umbrella fa-fw" aria-hidden="true"></span> {% trans 'Service Level Agreements' %}</a>
        <a href="{% url 'boh:application.settings.owasp-asvs' application.id %}" class="list-group-item{% if active_side == 'owasp' %} active{% endif %}"><span class="fa fa-bullseye fa-fw" aria-hidden="true"></span> {% trans 'OWASP ASVS' %}</a>
        <a href="{% url 'boh:application.settings.services' application.id %}" class="list-group-item{% if active_side == 'services' %} active{% endif %}"><span class="fa fa-plug fa-fw" aria-hidden="true"></span> {% trans 'Services' %}</a>
        <a href="{% url 'boh:application.settings.custom-fields' application.id %}" class="list-group-item{% if active_side == 'custom_fields' %} active{% endif %}"><span class="fa fa-magic fa-fw" aria-hidden="true"></span> {% trans 'Custom Fields' %}</a>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="list-group">
        <a href="{% url 'boh:application.settings.danger' application.id %}" class="list-group-item{% if active_side == 'danger' %} active{% endif %}"><span class="fa fa-bomb fa-fw" aria-hidden="true"></span> {% trans 'Danger Zone' %}</a>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-8 col-lg-9">
    {% block settings_content %}
    {% endblock settings_content %}
  </div>
</div>
{% endblock application_content %}
