{% extends "boh/application/settings/base_settings.html" %}

{% load i18n %}

{% block title %}{{ application.name }} | {% trans 'Settings' %} | {% trans 'General' %}{% endblock %}

{% block settings_content %}
<form method="post" action="{% url 'boh:application.settings.general' application.id %}">
  {% csrf_token %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{% trans 'General Information' %}</h3>
    </div>
    <div class="panel-body">
      {% include "boh/snippets/form/_general.html" with control=general_form.name %}
      {% include "boh/snippets/form/_markdown.html" with control=general_form.description %}
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" name="submit-general" type="submit">{% trans 'Update General Information' %}</button>
    </div>
  </div>
</form>

<form method="post" action="{% url 'boh:application.settings.general' application.id %}">
  {% csrf_token %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{% trans 'Change Organization' %}</h3>
    </div>
    <div class="panel-body">
      {% include "boh/snippets/form/_general.html" with control=organization_form.organization %}
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" name="submit-organization" type="submit">{% trans 'Update Organization' %}</button>
    </div>
  </div>
</form>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans 'Features' %}</h3>
  </div>
  <div class="panel-body">
    <span class="text-muted">{% trans 'Nothing here yet.' %}</span>
  </div>
</div>
{% endblock settings_content %}
