{% extends "boh/application/settings/base_settings.html" %}

{% load i18n %}

{% block title %}{{ application.name }} | {% trans 'Settings' %} | {% trans 'Services' %}{% endblock %}

{% block settings_content %}
<form method="post" action="{% url 'boh:application.settings.services' application.id %}">
  {% csrf_token %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{% trans 'ThreadFix' %}</h3>
    </div>
    <div class="panel-body">
      <p>{% trans 'ThreadFix is a software vulnerability aggregation and management system that helps organizations aggregate vulnerability data, generate virtual patches, and interact with software defect tracking systems.' %}</p>
      {% include "boh/snippets/form/_general.html" with control=threadfix_form.threadfix %}
      {% include "boh/snippets/form/_general.html" with control=threadfix_form.threadfix_team_id %}
      {% include "boh/snippets/form/_general.html" with control=threadfix_form.threadfix_application_id %}
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" name="submit-threadfix" type="submit">{% trans 'Update ThreadFix' %}</button>
    </div>
  </div>
</form>
{% endblock settings_content %}
