{% extends "frontend/_authenticated.html" %}

{% block page_title %}Applications{% endblock %}

{% block container %}
  <h2>Applications</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {% for application in applications %}
        <tr>
          <td><strong><a href="{% url 'frontend:applications.overview' application.id %}">{{ application.name }}</a></strong></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
