{% extends "frontend/authenticated.html" %}

{% block page_title %}Applications | {{ application.name }}{% endblock %}

{% block content %}
  <h2>{{ application.name }}</h2>

  <ol class="breadcrumb">
    <li><a href="{% url 'frontend:applications.list' %}">Applications</a></li>
    <li class="active">{{ application.name }}</li>
  </ol>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'frontend:applications.overview' application.id %}">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Engagements</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'frontend:applications.benchmarks' application.id %}">Benchmarks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Environments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Documentation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Settings</a>
    </li>
  </ul>

  <p>{{ application.description }}</p>

  <h3>Metadata</h3>

  <h3>Production Environment</h3>

  <h3>Application Profile Completion</h3>

  <h3>ThreadFix Metrics</h3>

  <h3>Latest Benchmark Scores</h3>

  <h3>Most Recent Engagement</h3>

  <h3>Activity Feed</h3>


{% endblock %}
