{% extends "base.html" %}

{% block title %}Add Application{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2>Add Application</h2>
    <form method="post" action="{% url 'tracker:applications.add' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
        {{ form.name }}
      </div>
      <div class="form-group">
        <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
        {{ form.description }}
      </div>
      <button class="btn btn-default" type="submit">Create</button>
    </form>
  </div>
</div>
{% endblock %}
