{% extends "base.html" %}

{% load humanize %}

{% block title %}{{ application.name }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2 class="no-margin-top"><a href="{% url 'tracker:organization.detail' application.organization.id %}">{{ application.organization.name }}</a> <span class="text-muted">/</span> <strong><a href="{% url 'tracker:application.overview' application.id %}">{{ application.name }}</a></strong></h2>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-push-8">
    <h4><span class="fa fa-info-circle" aria-hidden="true"></span> Metadata</h4>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td><strong>Platform</strong></td>
          <td>{{ application.get_platform_display }}</td>
        </tr>
        <tr>
          <td><strong>Lifecycle</strong></td>
          <td>{{ application.get_lifecycle_display }}</td>
        </tr>
        <tr>
          <td><strong>Origin</strong></td>
          <td>{{ application.get_origin_display }}</td>
        </tr>
        <tr>
          <td><strong>Industry</strong></td>
          <td>{{ application.get_industry_display }}</td>
        </tr>
        <tr>
          <td><strong>Business Criticality</strong></td>
          <td>{{ application.get_business_criticality_display }}</td>
        </tr>
      </tbody>
    </table>

    <hr>

    <h4><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Tags</h4>
    {% if application.tags.all %}
    {% for tag in application.tags.all %}
    <span class="label" style="background-color: #{{ tag.color }};">{{ tag.name }}</span>
    {% endfor %}
    {% else %}
    <p class="text-muted">No tags</p>
    {% endif %}

    <hr>

    <h4><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> Miscellaneous</h4>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td><strong>Created</strong></td>
          <td>{{ application.created_date|naturaltime }}</td>
        </tr>
        <tr>
          <td><strong>Modified</strong></td>
          <td>{{ application.modified_date|naturaltime }}</td>
        </tr>
      </tbody>
    </table>

    <a href="{% url 'tracker:application.settings.general' application.id %}" class="btn btn-default" role="button"><span class="fa fa-pencil-square-o" aria-hidden="true"></span> Edit Application</a>

  </div>

  <div class="col-md-8 col-md-pull-4">
    {% if application.description %}<p>{{ application.description }}</p>{% else %}<p class="text-muted">No description</p>{% endif %}

    <hr>

    <div class="row">
      <div class="col-sm-8">
        <h3 class="no-margin-top"><span class="fa fa-calendar" aria-hidden="true"></span> Engagements</h3>
        <p class="text-muted">Engagements contain activities to be completed over a period of time.</p>
      </div>
      <div class="col-sm-4">
        <a href="{% url 'tracker:engagement.add' application.id %}" class="btn btn-default btn-block" role="button"><span class="fa fa-plus" aria-hidden="true"></span> Add Engagement</a>
      </div>
    </div>

    <h4>Pending <small>Engagements that have not yet started</small></h4>
    {% if pending_engagements %}
    <div class="list-group">
      {% for engagement in pending_engagements %}
      <a href="{% url 'tracker:engagement.detail' engagement.id %}" class="list-group-item">{{ engagement.start_date }} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> {{ engagement.end_date }}</a>
      {% endfor %}
    </div>
    {% else %}
    <p class="text-muted">No pending engagements</p>
    {% endif %}
    <h4>Open <small>Engagements that are in progress</small></h4>
    {% if open_engagements %}
    <div class="list-group">
      {% for engagement in open_engagements %}
      <a href="{% url 'tracker:engagement.detail' engagement.id %}" class="list-group-item">{{ engagement.start_date }} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> {{ engagement.end_date }}</a>
      {% endfor %}
    </div>
    {% else %}
    <p class="text-muted">No open engagements</p>
    {% endif %}
    <h4>Closed <small>Engagements that have finished</small></h4>
    {% if closed_engagements %}
    <div class="list-group">
      {% for engagement in closed_engagements %}
      <a href="{% url 'tracker:engagement.detail' engagement.id %}" class="list-group-item">{{ engagement.start_date }} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> {{ engagement.end_date }}</a>
      {% endfor %}
    </div>
    {% else %}
    <p class="text-muted">No closed engagements</p>
    {% endif %}

    <hr>

    <div class="row">
      <div class="col-sm-8">
        <h3 class="no-margin-top"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Environments</h3>
        <p class="text-muted">Environments contain locations and credentials.</p>
      </div>
      <div class="col-sm-4">
        <a href="{% url 'tracker:environment.add' application.id %}" class="btn btn-default btn-block" role="button"><span class="fa fa-plus" aria-hidden="true"></span> Add Environment</a>
      </div>
    </div>

    {% if environments %}
    <div class="list-group">
      {% for environment in environments %}
      <a href="{% url 'tracker:environment.detail' environment.id %}" class="list-group-item">{{ environment.get_environment_type_display }} Environment</a>
      {% endfor %}
    </div>
    {% else %}
    <p class="text-muted">No environments</p>
    {% endif %}

    <hr>

    <h3 class="no-margin-top"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> People</h3>
    <p class="text-muted">An association between a person and an application.</p>
    <hr>

    <h3 class="no-margin-top"><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span> Files</h3>
    <p class="text-muted">Uploaded files</p>
  </div>
</div>
{% endblock %}
