{% extends "base.html" %}

{% block title %}Applications{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <nav>
        <span class="text-muted"><b>{{ applications.start_index }}</b> - <b>{{ applications.end_index }}</b> of <b>{{ applications.paginator.count }}</b></span>
        <div class="btn-group" role="group" aria-label="...">
          <a class="btn btn-default{% if not applications.has_previous %} disabled{% endif %}" href="{% if applications.has_previous %}?page={{ applications.previous_page_number }}{% endif %}" role="button"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="btn btn-default{% if not applications.has_next %} disabled{% endif %}" href="{% if applications.has_next %}?page={{ applications.next_page_number }}{% endif %}" role="button"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </nav>
    </div>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-sm-3 col-md-2">
    <a href="{% url 'tracker:applications.add' %}" class="btn btn-success btn-sm btn-block" role="button"><i class="glyphicon glyphicon-plus"></i> Add Application</a>
  </div>
  <div class="col-sm-9 col-md-10">
    {% if applications %}
    <ul class="list-group">
      {% for application in applications %}
      <a href="{% url 'tracker:applications.detail' application.id %}" class="list-group-item">{{ application.name }}</a>
      {% endfor %}
    </ul>
    {% else %}
    <strong>There are no applications. <a href="{% url 'tracker:applications.add' %}">Go ahead and add one!</a></strong>
    {% endif %}
  </div>
</div>
{% endblock %}
