{% extends "base.html" %}

{% block title %}Applications{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <a href="{% url 'tracker:organization.add' %}" class="btn btn-default" role="button"><span class="fa fa-plus" aria-hidden="true"></span> Add Organization</a>
    <a href="{% url 'tracker:application.add' %}" class="btn btn-default" role="button"><span class="fa fa-plus" aria-hidden="true"></span> Add Application</a>

  </div>
  <div class="col-md-4">
    <div class="pull-right">
      <nav>
        <span class="text-muted"><b>{{ applications.start_index }}</b> - <b>{{ applications.end_index }}</b> of <b>{{ applications.paginator.count }}</b></span>
        <div class="btn-group" role="group" aria-label="...">
          <a class="btn btn-default{% if not applications.has_previous %} disabled{% endif %}" href="{% if applications.has_previous %}?{{ queries.urlencode }}&page={{ applications.previous_page_number }}{% endif %}" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
          <a class="btn btn-default{% if not applications.has_next %} disabled{% endif %}" href="{% if applications.has_next %}?{{ queries.urlencode }}&page={{ applications.next_page_number }}{% endif %}" role="button"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
        </div>
      </nav>
    </div>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-3">
    <a href="{% url 'tracker:application.list' %}" class="btn btn-default btn-block" role="button">Show all applications</a>
    <hr>
    {% if tags %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Filter by tag</h3>
      </div>
      <div class="list-group">
        {% for tag in tags %}
        <a href="?tag={{ tag.id }}" class="list-group-item{% if active_filter_tag == tag.id %} active{% endif %}"><span class="badge pull-right" style="background-color: #{{ tag.color }};">{{ tag.total_applications }}</span> {{ tag.name }} </a>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
  <div class="col-md-9">
    {% if applications %}
    <ul class="list-group">
      {% for application in applications %}
      <a href="{% url 'tracker:application.detail' application.id %}" class="list-group-item">
        <span class="badge">{{ application.get_business_criticality_display }}</span>
        <h4 class="list-group-item-heading">{{ application.name }} <small>{{ application.organization.name }} - {{ application.get_platform_display }}, {{ application.get_origin_display }}</small></h4>
        {% if application.tags.all %}
        <p class="list-group-item-text">
          {% for tag in application.tags.all %}
          <span class="label" style="background-color: #{{ tag.color }};">{{ tag.name }}</span>
          {% endfor %}
        </p>
        {% endif %}
      </a>
      {% endfor %}
    </ul>
    {% else %}
    <strong>There are no applications. <a href="{% url 'tracker:application.add' %}">Go ahead and add one!</a></strong>
    {% endif %}
  </div>
</div>
{% endblock %}
