{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Add Person{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Add Person</h2>
    <div class="well well-lg">
      <form method="post" action="{% url 'tracker:people.add' %}">
        {% csrf_token %}

        {% include "forms/form_snippet.html" with control=form.first_name %}
        {% include "forms/form_snippet.html" with control=form.last_name %}
        {% include "forms/form_snippet.html" with control=form.email %}
        {% include "forms/form_snippet.html" with control=form.phone_work %}
        {% include "forms/form_snippet.html" with control=form.phone_mobile %}
        {% include "forms/form_snippet.html" with control=form.job_title %}
        {% include "forms/form_snippet.html" with control=form.role %}

        <a href="{% url 'tracker:people.list' %}" class="btn btn-default" role="button">Cancel</a>
        <button class="btn btn-primary" type="submit">Add Person</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
