{% extends "tracker/applications/settings/base_settings.html" %}

{% load widget_tweaks %}

{% block title %}Application Settings | Data Elements{% endblock %}

{% block settings_content %}
<div class="row">
  <div class="col-md-10">
    <form method="post" action="{% url 'tracker:application.settings.data-elements' application.id %}">
      {% csrf_token %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Data Elements</h3>
        </div>
        <div class="panel-body">
          {% include "forms/form_snippet.html" with control=data_elements_form.data_elements %}
        </div>
        <div class="panel-footer">
          <button class="btn btn-primary" type="submit">Update Data Elements</button>
        </div>
      </div>
    </form>


    <form method="post" action="{% url 'tracker:application.settings.data-elements.override' application.id %}">
      {% csrf_token %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Override</h3>
        </div>
        <div class="panel-body">
          {% include "forms/form_snippet.html" with control=dcl_override_form.override_dcl %}
          {% include "forms/form_snippet.html" with control=dcl_override_form.override_reason %}
        </div>
        <div class="panel-footer">
          <button class="btn btn-primary" type="submit">Update Override</button>
        </div>
      </div>
    </form>

  </div>
  <div class="col-md-2">
    {% if application.override_dcl %}
    {% include "tracker/snippets/dcl_snippet.html" with dcl=application.override_dcl title='Override' only %}
    {% endif %}
    {% include "tracker/snippets/dcl_snippet.html" with dcl=dcl dsv=dsv %}
  </div>
</div>

{% endblock settings_content %}
