{% extends "tracker/applications/settings/base_settings.html" %}

{% load widget_tweaks %}

{% block title %}Application settings | General{% endblock %}

{% block settings_content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">General information</h3>
  </div>
  <div class="panel-body">
    <form method="post" action="{% url 'tracker:application.settings.general' application.id %}">
      {% csrf_token %}

      {% include "forms/form_snippet.html" with control=general_form.name %}
      {% include "forms/form_snippet.html" with control=general_form.description %}

      <button class="btn btn-default" type="submit">Update general information</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Features</h3>
  </div>
  <div class="panel-body">
    <span class="text-muted">Nothing here yet.</span>
  </div>
</div>

<!--
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Danger Zone</h3>
  </div>
  <div class="panel-body">
    <form method="post" action="{% url 'tracker:application.delete' application.id %}">
      {% csrf_token %}
      <div class="pull-left">
        <strong>Delete this application</strong><br>
        <span class="text-muted">Once you delete an application, there is no going back. Please be certain.</span>
      </div>
      <div class="pull-right">
        <button class="btn btn-danger pull-right" type="submit" onclick="return confirm('Are you sure want to delete this application?');">Delete this application</button>
      </div>
    </form>
  </div>
</div>
-->
{% endblock settings_content %}
