{% extends "tracker/applications/settings/base_settings.html" %}

{% load widget_tweaks %}

{% block title %}Application Settings | Metadata{% endblock %}

{% block settings_content %}
<form method="post" action="{% url 'tracker:application.settings.metadata' application.id %}">
  {% csrf_token %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Metadata</h3>
    </div>
    <div class="panel-body">
      {% include "forms/form_snippet.html" with control=metadata_form.platform %}
      {% include "forms/form_snippet.html" with control=metadata_form.lifecycle %}
      {% include "forms/form_snippet.html" with control=metadata_form.origin %}
      {% include "forms/form_snippet.html" with control=metadata_form.industry %}
      {% include "forms/form_snippet.html" with control=metadata_form.business_criticality %}
      {% include "forms/form_snippet.html" with control=metadata_form.approximate_users %}
      {% include "forms/form_checkbox_snippet.html" with control=metadata_form.external_audience %}
      {% include "forms/form_checkbox_snippet.html" with control=metadata_form.internet_accessible %}
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" name="submit-metadata" type="submit">Update Metadata</button>
    </div>
  </div>
</form>

<form method="post" action="{% url 'tracker:application.settings.metadata' application.id %}">
  {% csrf_token %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Tags</h3>
    </div>
    <div class="panel-body">
      {% include "forms/form_snippet.html" with control=tags_form.tags %}
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" name="submit-tags" type="submit">Update Tags</button>
    </div>
  </div>
</form>
{% endblock settings_content %}
