{% extends "base.html" %}

{% block title %}Management settings{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Manage settings</h3>
      </div>
      <div class="list-group">
        <a href="{% url 'management.services' %}" class="list-group-item{% if active == 'services' %} active{% endif %}"><span class="fa fa-plug" aria-hidden="true"></span> Services</a>
        <a href="{% url 'management.users' %}" class="list-group-item{% if active == 'users' %} active{% endif %}"><span class="fa fa-users" aria-hidden="true"></span> Users</a>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="list-group">
        <a href="/admin" target="_blank" class="list-group-item"><span class="fa fa-user-secret" aria-hidden="true"></span> Django Site Admin</a>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    {% block manage_content %}
    {% endblock manage_content %}
  </div>
</div>
{% endblock content %}
