{% extends "boh/application/settings/base_settings.html" %}

{% block title %}{{ application.name }} | Settings | Metadata{% endblock %}

{% block settings_content %}
<form method="post" action="{% url 'boh:application.settings.metadata' application.id %}">
  {% csrf_token %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Metadata</h3>
    </div>
    <div class="panel-body">
      {% include "boh/snippets/form/_general.html" with control=metadata_form.business_criticality %}
      {% include "boh/snippets/form/_general.html" with control=metadata_form.platform %}
      {% include "boh/snippets/form/_general.html" with control=metadata_form.lifecycle %}
      {% include "boh/snippets/form/_general.html" with control=metadata_form.origin %}
      {% include "boh/snippets/form/_general.html" with control=metadata_form.user_records %}
      {% include "boh/snippets/form/_general.html" with control=metadata_form.revenue %}
      {% include "boh/snippets/form/_checkbox.html" with control=metadata_form.external_audience %}
      {% include "boh/snippets/form/_checkbox.html" with control=metadata_form.internet_accessible %}
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" name="submit-metadata" type="submit">Update Metadata</button>
    </div>
  </div>
</form>

<form method="post" action="{% url 'boh:application.settings.metadata' application.id %}">
  {% csrf_token %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Technologies</h3>
    </div>
    <div class="panel-body">
      {% include "boh/snippets/form/_general.html" with control=technologies_form.technologies %}
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" name="submit-technologies" type="submit">Update Technologies</button>
    </div>
  </div>
</form>

<form method="post" action="{% url 'boh:application.settings.metadata' application.id %}">
  {% csrf_token %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Regulations</h3>
    </div>
    <div class="panel-body">
      {% include "boh/snippets/form/_general.html" with control=regulations_form.regulations %}
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" name="submit-regulations" type="submit">Update Regulations</button>
    </div>
  </div>
</form>

<form method="post" action="{% url 'boh:application.settings.metadata' application.id %}">
  {% csrf_token %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Tags</h3>
    </div>
    <div class="panel-body">
      {% include "boh/snippets/form/_general.html" with control=tags_form.tags %}
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" name="submit-tags" type="submit">Update Tags</button>
    </div>
  </div>
</form>
{% endblock settings_content %}
