{% load i18n %}
<a href="{% url 'boh:activity.detail' activity.id %}" class="list-group-item{% if activity.is_past_due %} list-group-item-danger{% elif activity.is_ready_for_work %} list-group-item-warning{% endif %}">
  {% with comment_count=activity.activitycomment_set.count %}
  {% if comment_count %}
  <span class="badge"><span class="fa fa-comments" aria-hidden="true"></span> {{ comment_count }}</span>
  {% endif %}
  {% endwith %}
  <h4 class="list-group-item-heading">{{ activity.activity_type.name }}</h4>
  <p class="list-group-item-text">
    {% for user in activity.users.all %}
    <span class="label label-default">{% if user.first_name and user.last_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user }}{% endif %}</span>
    {% empty %}
    <span class="label label-danger">{% trans 'No users have been assigned to this activity' %}</span>
    {% endfor %}
  </p>
</a>
