{% load boh_humanize %}
<a href="{% url 'boh:activity.detail' activity.id %}" class="list-group-item{% if activity.is_past_due %} list-group-item-danger{% elif activity.is_ready_for_work %} list-group-item-warning{% endif %}">
  {% with comment_count=activity.activitycomment_set.count %}
  {% if comment_count %}
  <span class="badge hidden-xs"><span class="fa fa-comments" aria-hidden="true"></span> {{ comment_count }}</span>
  {% endif %}
  {% endwith %}
  <h4 class="list-group-item-heading">{{ activity.activity_type.name }} <small class="hidden-xs">{{ activity.engagement.application.name }}</small></h4>
  <p class="list-group-item-text">
    <span data-toggle="tooltip" data-placement="bottom" title="{{ activity.engagement.start_date|humanize_date }}">{{ activity.engagement.start_date|date:"M. j, Y" }}</span> - <span data-toggle="tooltip" data-placement="bottom" title="{{ activity.engagement.end_date|humanize_date }}">{{ activity.engagement.end_date|date:"M. j, Y" }}</span> <span class="hidden-xs">({% if activity.engagement.start_date == activity.engagement.end_date %}1 day{% else %}{{ activity.engagement.start_date|timesince:activity.engagement.end_date }}{% endif %})</span>
  </p>
</a>
