{% load boh_humanize %}
<a href="{% url 'boh:activity.detail' activity.id %}" class="list-group-item{% if activity.is_past_due %} list-group-item-danger{% elif activity.is_ready_for_work %} list-group-item-warning{% endif %}">

  {% if activity.comment_count %}
  <span class="badge hidden-xs"><span class="fa fa-comments" aria-hidden="true"></span> {{ activity.comment_count }}</span>
  {% endif %}

  <h4 class="list-group-item-heading">{{ activity.activity_type.name }} <small class="hidden-xs">{{ activity.engagement.application.name }}</small></h4>
  <p class="list-group-item-text">
  {% if activity.engagement.start_date == activity.engagement.end_date %}
    <span data-toggle="tooltip" data-placement="bottom" title="{{ activity.engagement.start_date|humanize_date }}">{{ activity.engagement.start_date|date:"M. j" }}</span>
  {% else %}
    <span data-toggle="tooltip" data-placement="bottom" title="{{ activity.engagement.start_date|humanize_date }}">{{ activity.engagement.start_date|date:"M. j" }}</span> - <span data-toggle="tooltip" data-placement="bottom" title="{{ activity.engagement.end_date|humanize_date }}">{{ activity.engagement.end_date|date:"M. j" }}</span> <span class="hidden-xs">({{ activity.engagement.start_date|timesince:activity.engagement.end_date }})</span>
  {% endif %}
  </p>
</a>
