{% extends "boh/engagement/base_engagements.html" %}

{% load i18n %}
{% load humanize %}
{% load markdown_render %}

{% block title %}{{ application.name }} | {{ engagement.start_date }} - {{ engagement.end_date }}{% endblock %}

{% block engagement_breadcrumb %}
<li><a href="{% url 'boh:application.engagements' engagement.application.id %}">{% trans 'Engagements' %}</a></li>
<li class="active">{{ engagement.start_date }} - {{ engagement.end_date }}</li>
{% endblock engagement_breadcrumb %}

{% block engagement_content %}
<div class="row">
  <div class="col-md-8">
    <h3 class="no-margin-top"><span class="fa fa-calendar" aria-hidden="true"></span> {{ engagement.start_date }} - {{ engagement.end_date }} <small>({% if engagement.start_date == engagement.end_date %}1 day{% else %}{{ engagement.start_date|timesince:engagement.end_date }}{% endif %})</small></h2>
    {{ engagement.description|markdown_render }}
    {% if engagement.requestor %}<p>Requested by <strong><a href="{% url 'boh:person.detail' engagement.requestor.id %}">{{ engagement.requestor.first_name }} {{ engagement.requestor.last_name }}</a></strong>.</p>{% endif %}

    <hr>

    <h3 class="no-margin-top"><span class="fa fa-clock-o" aria-hidden="true"></span> {% trans 'Activities' %}</h2>
    <p class="text-muted">{% trans 'Activities are units of work performed over the engagement duration.' %}</p>
    <p><a href="{% url 'boh:activity.add' engagement.id %}" class="btn btn-success" role="button"><span class="fa fa-plus" aria-hidden="true"></span><span class="hidden-xs"> {% trans 'New Activity' %}</span></a></p>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-info-circle" aria-hidden="true"></span> Pending <small class="hidden-xs">{% trans 'Activities that have not yet started' %}</small></h3>
      </div>
      <div class="list-group">
        {% for activity in pending_activities %}
        {% include "boh/snippets/engagement/_activity.html" with activity=activity %}
        {% empty %}
        <li class="list-group-item"><small><em class="text-muted">{% trans 'There are no pending activities.' %}</em></small></li>
        {% endfor %}
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-exclamation-circle" aria-hidden="true"></span> {% trans 'Open' %} <small class="hidden-xs">{% trans 'Activities that are in progress' %}</small></h3>
      </div>
      <div class="list-group">
        {% for activity in open_activities %}
        {% include "boh/snippets/engagement/_activity.html" with activity=activity %}
        {% empty %}
        <li class="list-group-item"><small><em class="text-muted">{% trans 'There are no open activities.' %}</em></small></li>
        {% endfor %}
      </div>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-check-circle" aria-hidden="true"></span> {% trans 'Closed' %} <small class="hidden-xs">{% trans 'Activities that have been completed' %}</small></h3>
      </div>
      <div class="list-group">
        {% for activity in closed_activities %}
        {% include "boh/snippets/engagement/_activity.html" with activity=activity %}
        {% empty %}
        <li class="list-group-item"><small><em class="text-muted">{% trans 'There are no closed activities.' %}</em></small></li>
        {% endfor %}
      </div>
    </div>

    <hr>

    <h3><span class="fa fa-comments" aria-hidden="true"></span> Comments</h3>
    <p class="text-muted">{% trans 'Leave comments about this engagement.' %}</p>

    {% for comment in engagement.engagementcomment_set.all %}
    <div id="comment-{{ comment.id }}" class="panel panel-default">
      <div class="panel-heading">
        <span class="text-muted"><strong>{% if comment.user.first_name and comment.user.last_name %}{{ comment.user.get_full_name }}{% else %}{{ user }}{% endif %}</strong><span class="hidden-xs"> {% trans 'commented' %} {{ comment.modified_date|naturaltime }}</span></span>
      </div>
      <div class="panel-body">
        {{ comment.message|markdown_render }}
      </div>
    </div>
    {% endfor %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans 'Leave a comment' %}</h3>
      </div>
      <div class="panel-body">
        <form method="post" action="{% url 'boh:engagement.comment.add' engagement.id %}">
          {% csrf_token %}
          {% include "boh/snippets/form/_markdown.html" with control=form.message %}
          <button class="btn btn-success" type="submit"><span class="fa fa-comment" aria-hidden="true"></span> {% trans 'Comment' %}</button>
        </form>
      </div>
    </div>

  </div>

  <div class="col-md-4">
    <div class="panel {% if engagement.is_pending %}panel-info{% elif engagement.is_open %}panel-primary{% elif engagement.is_closed %}panel-success{% endif %} hidden-sm hidden-xs">
      <div class="panel-heading">
        <h4 class="panel-title">{% if engagement.is_pending %}<span class="fa fa-info-circle" aria-hidden="true"></span>{% elif engagement.is_open %}<span class="fa fa-exclamation-circle" aria-hidden="true"></span>{% elif engagement.is_closed %}<span class="fa fa-check-circle" aria-hidden="true"></span>{% endif %} {{ engagement.get_status_display }}</h4>
      </div>
      <div class="panel-body">
        <form method="post" action="{% url 'boh:engagement.status' engagement.id %}" class="form-inline">
          {% csrf_token %}
          <div class="clearfix">
            {% include "boh/snippets/form/_general.html" with control=status_form.status required=False %}
            <button class="btn btn-default pull-right" type="submit">{% trans 'Change Status' %}</button>
          </div>
        </form>
      </div>
      {% if engagement.open_date or engagement.close_date %}
      <ul class="list-group">
        {% if engagement.open_date %}
        <li class="list-group-item"><strong>{% trans 'Opened' %}:</strong> <span data-toggle="tooltip" data-placement="bottom" title="{{ engagement.open_date }}">{{ engagement.open_date|naturaltime }}</span></li>
        {% endif %}
        {% if engagement.close_date %}
        <li class="list-group-item"><strong>{% trans 'Closed' %}:</strong> <span data-toggle="tooltip" data-placement="bottom" title="{{ engagement.close_date }}">{{ engagement.close_date|naturaltime }}</span></li>
        {% endif %}
      </ul>
      {% endif %}
    </div>

    <p><a href="{% url 'boh:engagement.edit' engagement.id %}" class="btn btn-default" role="button"><span class="fa fa-pencil-square-o" aria-hidden="true"></span> {% trans 'Edit Engagement' %}</a></p>

    <div class="well hidden-sm hidden-xs">
      <p>{% trans 'Documentation' %}:</p>
      <p>{% trans 'If a pending activity is yellow it is within the scheduled dates and needs to be opened and worked on.' %}</p>
      <p>{% trans 'If a pending or open activity is red it past its scheduled end date and needs to be completed and closed.' %}</p>
    </div>
  </div>
</div>
{% endblock engagement_content %}
