// Colors
$pearson-cream: rgb(251, 245, 234);
$pearson-green: rgb(0, 139, 93);
$pearson-orange: rgb(237, 107, 6);

// Typography
$pearson-fonts: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;

// Overridden Bootstrap Properties
$body-bg: $pearson-cream;

$brand-primary: $pearson-green;

$font-family-sans-serif: $pearson-fonts;

$navbar-inverse-bg: $pearson-green;
$navbar-inverse-link-color: #fff;
$navbar-inverse-link-hover-color: #fff;

$progress-bg: darken($pearson-cream, 10%);

$list-group-active-text-color: #fff;

$hr-border: $brand-primary;


@import "bootstrap";
@import "font-awesome";

// Spacing
$spacer:    $line-height-computed !default;
$spacer-x:  $spacer !default;
$spacer-y:  $spacer !default;

.m-a-0 { margin:        0 !important; }
.m-t-0 { margin-top:    0 !important; }
.m-r-0 { margin-right:  0 !important; }
.m-b-0 { margin-bottom: 0 !important; }
.m-l-0 { margin-left:   0 !important; }
.m-x-0 { margin-right:  0 !important; margin-left:   0 !important; }
.m-y-0 { margin-top:    0 !important; margin-bottom: 0 !important; }

.m-a { margin:        $spacer !important; }
.m-t { margin-top:    $spacer-y !important; }
.m-r { margin-right:  $spacer-x !important; }
.m-b { margin-bottom: $spacer-y !important; }
.m-l { margin-left:   $spacer-x !important; }
.m-x { margin-right:  $spacer-x !important; margin-left: $spacer-x !important; }
.m-y { margin-top:    $spacer-y !important; margin-bottom: $spacer-y !important; }
.m-x-auto { margin-right: auto !important; margin-left: auto !important; }
