{% extends "base.html" %}

{% block title %}Add Environment Location{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form method="post" action="{% url 'tracker:environment.location.add' environment.id %}">
      {% csrf_token %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add Environment Location</h3>
        </div>
        <div class="panel-body">
          {% include "forms/form_snippet.html" with control=form.location %}
          {% include "forms/form_snippet.html" with control=form.notes %}
        </div>
        <div class="panel-footer">
          <div class="pull-right">
            <button class="btn btn-primary" type="submit">Add Environment Location</button>
            <a href="{% url 'tracker:environment.detail' environment.id %}" class="btn btn-default" role="button">Cancel</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
