{% extends "boh/base.html" %}

{% load i18n %}

{% block title %}{% trans 'Management Settings' %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans 'Manage Settings' %}</h3>
      </div>
      <div class="list-group">
        <a href="{% url 'boh:management.overview' %}" class="list-group-item{% if active_side == 'overview' %} active{% endif %}"><span class="fa fa-home fa-fw" aria-hidden="true"></span>&nbsp; {% trans 'Overview' %}</a>
        <a href="#" class="list-group-item{% if active_side == 'organizations' %} active{% endif %} disabled"><span class="fa fa-building fa-fw" aria-hidden="true"></span>&nbsp; {% trans 'Organizations' %}</a>
        <a href="{% url 'boh:management.tags' %}" class="list-group-item{% if active_side == 'tags' %} active{% endif %}"><span class="fa fa-tags fa-fw" aria-hidden="true"></span>&nbsp; {% trans 'Application Tags' %}</a>
        <a href="{% url 'boh:management.activity_types' %}" class="list-group-item{% if active_side == 'activity_types' %} active{% endif %}"><span class="fa fa-clock-o fa-fw" aria-hidden="true"></span>&nbsp; {% trans 'Activity Types' %}</a>
        <a href="#" class="list-group-item{% if active_side == 'asd' %} active{% endif %} disabled"><span class="fa fa-cubes fa-fw" aria-hidden="true"></span>&nbsp; {% trans 'Data Elements' %}</a>
        <a href="#" class="list-group-item{% if active_side == 'asd' %} active{% endif %} disabled"><span class="fa fa-umbrella fa-fw" aria-hidden="true"></span>&nbsp; {% trans 'Service Levels' %}</a>
        <a href="{% url 'boh:management.services' %}" class="list-group-item{% if active_side == 'services' %} active{% endif %}"><span class="fa fa-plug fa-fw" aria-hidden="true"></span>&nbsp; {% trans 'Third Party Services' %}</a>
        <a href="{% url 'boh:management.users' %}" class="list-group-item{% if active_side == 'users' %} active{% endif %} disabled"><span class="fa fa-users fa-fw" aria-hidden="true"></span>&nbsp; {% trans 'Users' %}</a>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="list-group">
        <a href="{% url 'admin:index' %}" target="_blank" class="list-group-item"><span class="fa fa-user-secret fa-fw" aria-hidden="true"></span>&nbsp; {% trans 'Django Site Admin' %}</a>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    {% block manage_content %}
    {% endblock manage_content %}
  </div>
</div>
{% endblock content %}
