{% extends "boh/management/base_management.html" %}

{% load i18n %}

{% block title %}{% trans 'Manage Settings' %}| {% trans 'Services' %}{% endblock %}

{% block manage_content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans 'ThreadFix Services' %}</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">{% trans '<a href="http://www.threadfix.org/download/" target="_blank">ThreadFix</a> is a software vulnerability aggregation and management system that helps organizations aggregate vulnerability data, generate virtual patches, and interact with software defect tracking systems.' %}</li>
    {% if not threadfix_services %}
    <li class="list-group-item"><small class="text-muted"><em>{% trans 'There are no ThreadFix services.' %}</em></small></li>
    {% endif %}
  </ul>
  {% if threadfix_services %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{% trans 'Name' %}</th>
          <th>{% trans 'Host' %}</th>
          <th class="text-center">{% trans 'Verify SSL' %}</th>
          <th class="text-center" colspan="3">{% trans 'Actions' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for threadfix in threadfix_services %}
        <tr>
          <td>{{ threadfix.name }}</td>
          <td><a href="{{ threadfix.host }}" target="_blank">{{ threadfix.host }} <span class="fa fa-external-link" aria-hidden="true"></span></a></td>
          <td class="text-center">{% if threadfix.verify_ssl %}<span class="fa fa-lock text-success" aria-hidden="true"></span>{% else %}<span class="fa fa-unlock text-danger" aria-hidden="true"></span>{% endif %}</td>
          <td class="text-center"><a href="{% url 'boh:management.services.threadfix.edit' threadfix.id %}"><span class="fa fa-pencil-square-o" aria-hidden="true"></span> {% trans 'Edit' %}</a></td>
          <td class="text-center"><a class="threadfix-process" href="{% url 'boh:management.services.threadfix.test' threadfix.id %}"><span class="fa fa-flask" aria-hidden="true"></span> {% trans 'Test' %}</a></td>
          <td class="text-center"><a class="threadfix-process" href="{% url 'boh:management.services.threadfix.import' threadfix.id %}"><span class="fa fa-download" aria-hidden="true"></span> {% trans 'Import' %}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
  <div class="panel-footer"><a class="btn btn-success btn-sm" href="{% url 'boh:management.services.threadfix.add' %}" role="button"><span class="fa fa-plus" aria-hidden="true"></span> {% trans 'Add ThreadFix Service' %}</a></div>
</div>
{% endblock manage_content %}
