{% extends "boh/management/base_management.html" %}

{% block title %}Management settings | Services{% endblock %}

{% block manage_content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">ThreadFix Services</h3>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Host</th>
          <th>Applications</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for threadfix in threadfix_services %}
        <tr>
          <td>{{ threadfix.name }}</td>
          <td><a href="{{ threadfix.host }}" target="_blank">{{ threadfix.host }} <span class="fa fa-external-link" aria-hidden="true"></span></a></td>
          <td>{{ threadfix.application_set.count }}</td>
          <td><a href="{% url 'boh:management.services.threadfix.edit' threadfix.id %}">Edit</a></td>
          <td class="text-muted">Test</td>
          <td class="text-muted">Import</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="panel-footer"><a class="btn btn-success btn-sm" href="{% url 'boh:management.services.threadfix.add' %}" role="button"><span class="fa fa-plus" aria-hidden="true"></span> Add ThreadFix Service</a></div>
</div>
{% endblock manage_content %}
