@import "bootstrap/variables";
@import "bootstrap";
@import "bootstrap/theme";

@import "fontawesome/variables";
@import "font-awesome";

@import "codehilite/monokai";

// margin adjustments
.margin-bottom {
  margin-bottom: $line-height-computed;
}

.no-margin-top {
  margin-top: 0px;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.no-margin-bottom-md {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    margin-bottom: 0px;
  }
}

.no-margin-bottom-lg {
  @media (min-width: $screen-lg-min) {
    margin-bottom: 0px;
  }
}

.horizontal-bar {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;
}

.badge-danger {
  background-color: $brand-danger;
}

// Vulnerability colors
$color-critical: #D43F3A;
$color-high: #D57A1D;
$color-medium: #E4AB18;
$color-low: #4CAE4C;
$color-info: #357ABD;

.bg-vuln-critical {
  background-color: $color-critical;
}

.bg-vuln-high {
  background-color: $color-high;
}

.bg-vuln-medium {
  background-color: $color-medium;
}

.bg-vuln-low {
  background-color: $color-low;
}

.bg-vuln-info {
  background-color: $color-info;
}

.bg-muted {
  background-color: $gray-light;
}

.vuln-count {
  color: #ffffff;
  font-size: ceil(($font-size-base * 1.5));
  font-weight: bold;
  small {
    font-size: $font-size-small;
    font-weight: normal;
  }
}

// Tweaking Markdown Editor to look more like Bootstrap
.md-editor {
  background-color: $input-bg;
  background-image: none;
  border: 1px solid $input-border;
  border-radius: $input-border-radius;
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  .md-header {
    border-top-left-radius: $input-border-radius;
    border-top-right-radius: $input-border-radius;
  }

  textarea {
    padding: 6px 9px;
    background-color: #fff;
    border-bottom-left-radius: $input-border-radius;
    border-bottom-right-radius: $input-border-radius;
  }

  .md-preview {
    padding: 6px 9px;
    border-bottom-left-radius: $input-border-radius;
    border-bottom-right-radius: $input-border-radius;
  }

  .md-footer {
    border-bottom-left-radius: $input-border-radius;
    border-bottom-right-radius: $input-border-radius;
  }

}

/* Sticky footer */
$footer-height: $navbar-height;
$footer-color: $gray-lighter;
$footer-padding-vertical: (($footer-height - $line-height-computed) / 2);

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer-height;
}

.wrapper {
  padding-bottom: $line-height-computed;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  @include gradient-vertical($start-color: $footer-color, $end-color: darken($footer-color, 10%));
  background-color: $footer-color;
  padding: $footer-padding-vertical 0;
}
