

// Colors
$pearson-orange: rgb(237, 107, 6);
$pearson-purple: rgb(157, 19, 72);
$pearson-blue: rgb(54, 67, 149);

$pearson-green: rgb(0, 139, 93);
$pearson-green-1: rgb(0, 161, 95);
$pearson-green-2: rgb(63, 168, 93);
$pearson-green-3: rgb(97, 174, 91);
$pearson-green-4: rgb(125, 182, 88);

$pearson-cream: rgb(251, 245, 234);

$pearson-fonts: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;

// Overridden Bootstrap properties
$brand-primary: $pearson-green;

$font-size-base: 12px;
$font-family-sans-serif: $pearson-fonts;

$headings-font-family: $pearson-fonts;
$headings-font-weight: bold;
$headings-color: $pearson-green;

$table-bg-accent: #ffffff;
$table-bg-accent: darken($pearson-cream, 5%);

$page-header-border-color: $pearson-green;
$hr-border: $pearson-green;


// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";

@media print {
  hr {
    border-color: #000 !important;
  }
  .page-header {
    border-color: #000 !important;
    margin-top: 0;
    padding-top: 0;
  }
}

// @import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
// @import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
// @import "bootstrap/component-animations";
// @import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
// @import "bootstrap/navbar";
// @import "bootstrap/breadcrumbs";
// @import "bootstrap/pagination";
// @import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
// @import "bootstrap/responsive-embed";
@import "bootstrap/wells";
// @import "bootstrap/close";

// Components w/ JavaScript
// @import "bootstrap/modals";
// @import "bootstrap/tooltip";
// @import "bootstrap/popovers";
// @import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

//@import "bootstrap/theme";

h1 {
  color: $pearson-green;
}

body {
  background-color: $pearson-cream;
  font-family: $pearson-fonts;
}

// Vulnerability colors
$color-critical: #D43F3A;
$color-high: #D57A1D;
$color-medium: #E4AB18;
$color-low: #4CAE4C;
$color-info: #357ABD;

.bg-vuln-critical {
  background-color: $color-critical;
}

.bg-vuln-high {
  background-color: $color-high;
}

.bg-vuln-medium {
  background-color: $color-medium;
}

.bg-vuln-low {
  background-color: $color-low;
}

.bg-vuln-info {
  background-color: $color-info;
}

.bg-muted {
  background-color: $gray-light;
}

.white {
  color: #ffffff;
}
