{% extends "boh/dashboard/base_dashboard.html" %}

{% load staticfiles %}

{% block title %}Metrics{% endblock %}

{% block css %}
<link href="{% static 'boh/css/chartist.min.css' %}" rel="stylesheet">
{% endblock css %}

{% block dashboard_content %}
<div class="row">
  <div class="col-md-8">
    <div class="ct-chart ct-minor-seventh"></div>

  </div>
  <div class="col-md-4">
    123
  </div>
</div>
{% endblock dashboard_content %}

{% block js %}
<script src="{% static 'boh/js/chartist.min.js' %}"></script>
<script>
$(function () {
  new Chartist.Line('.ct-chart', {
    labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
    series: [
    [12, 9, 7, 8, 5],
    [2, 1, 3.5, 7, 3],
    [1, 3, 4, 5, 6]
    ]
  }, {
    fullWidth: true,
    chartPadding: {
      right: 40
    }
  });
});
</script>
{% endblock js %}
