{% extends "boh/dashboard/base_dashboard.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans 'Metrics' %}{% endblock %}

{% block dashboard_content %}
<div class="row">
  <div class="col-md-4">
    <form action="{% url 'boh:dashboard.metrics' %}" method="get">
        <div class="panel panel-default">
            <div class="panel-body">
                <label class="control-label" for="{{ year_form.year.id_for_label }}">{{ year_form.year.label }}:</label>
                <div class="form-group">
                    {{ year_form.year|add_class:"form-control"|attr:"placeholder:Name" }}
                </div>
                <button class="btn btn-default btn-block" type="submit"><span class="fa fa-filter" aria-hidden="true"></span><span class="hidden-xs"> {% trans 'Filter' %}</span></button>
            </div>
        </div>
    </form>
  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-calendar" aria-hidden="true"></span> {% trans 'Engagements' %}</h3>
      </div>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>{% trans 'Pending' %}</td>
            <td>{{ engagement_stats.pending_count }}</td>
          </tr>
          <tr>
            <td>{% trans 'Open' %}</td>
            <td>{{ engagement_stats.open_count }}</td>
          </tr>
          <tr>
            <td>{% trans 'Closed' %}</td>
            <td>{{ engagement_stats.closed_count }}</td>
          </tr>
          <tr>
            <td>{% trans 'Total' %}</td>
            <td>{{ engagement_stats.total_count }}</td>
          </tr>
          <tr>
            <td>{% trans 'Average Length' %}</td>
            <td>{{ engagement_stats.average_duration }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-clock-o" aria-hidden="true"></span> {% trans 'Activities' %}</h3>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-md-5">{% trans 'Activity' %}</th>
            <th class="col-md-1">{% trans 'Pending' %}</th>
            <th class="col-md-1">{% trans 'Open' %}</th>
            <th class="col-md-1">{% trans 'Closed' %}</th>
            <th class="col-md-1">{% trans 'Total' %}</th>
            <th class="col-md-3">{% trans 'Average Duration' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for activity in activity_stats %}
          <tr>
            <td>{{ activity.name }}</td>
            <td{% if activity.pending_count == 0 %} class="text-muted"{% endif %}>{{ activity.pending_count }}</td>
            <td{% if activity.open_count == 0 %} class="text-muted"{% endif %}>{{ activity.open_count }}</td>
            <td{% if activity.closed_count == 0 %} class="text-muted"{% endif %}>{{ activity.closed_count }}</td>
            <td{% if activity.total_count == 0 %} class="text-muted"{% endif %}>{{ activity.total_count }}</td>
            <td>{% if activity.average_duration %}{{ activity.average_duration }}{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock dashboard_content %}
