{% extends "boh/dashboard/base_dashboard.html" %}

{% load humanize %}

{% block title %}Requests{% endblock %}

{% block dashboard_content %}
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Status</th>
      <th>Requester</th>
      <th>Application</th>
      <th>Activities</th>
      <th>Comments</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
  {% for service_request in service_requests %}
    <tr>
      <td>Requested</td>
      <td>{{ service_request.requestor }}</td>
      <td>{{ service_request.application }}</td>
      <td><small>{% for activity_type in service_request.activities.all %}{{ activity_type }}{% if not forloop.last %}, {% endif %}{% endfor %}</small></td>
      <td>{{ service_request.servicerequestcomment_set.count }}</td>
      <td>{{ service_request.created_date|naturaltime }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock dashboard_content %}
