{% extends "boh/dashboard/base_dashboard.html" %}

{% load i18n %}
{% block title %}{% trans 'Team Dashboard' %}{% endblock %}

{% block dashboard_content %}
<div class="row">
  <div class="col-md-6">

    <h3>{% trans 'Activities by User' %}</h3>
    <p class="text-muted">{% trans 'Find open and pending activities for each user.' %}</p>
    <div class="panel-group" id="user-accordion" role="tablist" aria-multiselectable="true">
      {% for user in activities_by_user%}
      {% if user.activity_set.count > 0 %}
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="user-{{ user.id }}-heading">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#user-accordion" href="#user-{{ user.id }}" aria-expanded="false" aria-controls="user-{{ user.id }}">
              {% if user.first_name and user.last_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %} ({{ user.activity_set.count }})
            </a>
          </h4>
        </div>
        <div id="user-{{ user.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="user-{{ user.id }}-heading">
          {% if user.activity_set.count > 0 %}
          <div class="list-group">
            {% for activity in user.activity_set.all %}
              {% include "boh/snippets/dashboard/_activity.html" with activity=activity %}
            {% endfor %}
          </div>
          {% else %}
          <div class="panel-body">
            <small><em class="text-muted">{% if user.first_name and user.last_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %} {% trans 'has no open or pending activities.' %}</em></small>
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="col-md-6">
    <h3>{% trans 'Engagements' %}</h3>
    <p class="text-muted">{% trans 'A list of open and pending engagements.' %}</p>

    <div class="panel-group" id="engagements-accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="engagements-open-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#engagements-accordion" href="#engagements-open" aria-expanded="true" aria-controls="engagements-open">
              <span class="fa fa-exclamation-circle" aria-hidden="true"></span> {% trans 'Open' %} ({{ open_engagements|length }})
            </a> <small class="hidden-xs">{% trans 'Engagements that are in progress' %}</small>
          </h4>
        </div>
        <div id="engagements-open" class="list-group collapse in" role="tabpanel" aria-labelledby="engagements-open-heading">
          {% for engagement in open_engagements %}
          {% include "boh/snippets/dashboard/_engagement.html" with engagement=engagement %}
          {% empty %}
          <li class="list-group-item"><small><em class="text-muted">{% trans 'There are no open engagements.' %}</em></small></li>
          {% endfor %}
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading" role="tab" id="engagements-pending-heading">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#engagements-accordion" href="#engagements-pending" aria-expanded="false" aria-controls="engagements-pending">
              <span class="fa fa-info-circle" aria-hidden="true"></span> {% trans 'Pending' %} ({{ pending_engagements|length }})
            </a> <small class="hidden-xs">{% trans 'Engagements that have not yet started' %}</small>
          </h4>
        </div>
        <div id="engagements-pending" class="list-group collapse" role="tabpanel" aria-labelledby="engagements-pending-heading">
          {% for engagement in pending_engagements %}
          {% include "boh/snippets/dashboard/_engagement.html" with engagement=engagement %}
          {% empty %}
          <li class="list-group-item"><small><em class="text-muted">{% trans 'There are no pending engagements.' %}</em></small></li>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>{% trans 'Unassigned Activities' %} ({{ unassigned_activities|length }})</h3>
    <p class="text-muted">{% trans 'These activities need to have users assigned to them.' %}</p>
    <div class="list-group">
      {% for activity in unassigned_activities %}
      {% include "boh/snippets/dashboard/_activity.html" with activity=activity %}
      {% empty %}
      <li class="list-group-item"><small><em class="text-muted">{% trans 'There are no unassigned activities.' %}</em></small></li>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-6">
    <h3>{% trans 'Empty Engagements' %} ({{ empty_engagements|length }})</h3>
    <p class="text-muted">{% trans 'These engagements have no activities within them.' %}</p>
    <div class="list-group">
      {% for engagement in empty_engagements %}
      {% include "boh/snippets/dashboard/_engagement.html" with engagement=engagement %}
      {% empty %}
      <li class="list-group-item"><small><em class="text-muted">{% trans 'There are no empty engagements.' %}</em></small></li>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock dashboard_content %}
