{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <h2>Dashboard</h2>

    <div class="row">
      <div class="large-4 columns">
        <div class="panel">Metrics?</div>
      </div>
      <div class="large-4 columns">
        <div class="panel">Metrics!</div>
      </div>
      <div class="large-4 columns">
        <div class="panel">METRICS!!!</div>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <div class="panel">Metrics?</div>
      </div>
      <div class="large-6 columns">
        <div class="panel">Metrics!</div>
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns">
        <div class="panel">Metrics?</div>
      </div>
      <div class="large-4 columns">
        <div class="panel">Metrics!</div>
      </div>
      <div class="large-4 columns">
        <div class="panel">METRICS!!!</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
