{% extends "boh/environment/base_environments.html" %}

{% load i18n %}
{% block title %}{{ application.name }} | {% trans 'New Environment' %}{% endblock %}

{% block environment_content %}
<div class="row">
  <div class="col-md-8">
    <form method="post" action="{% url 'boh:environment.add' application.id %}">
      {% csrf_token %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans 'New Environment' %}</h3>
        </div>
        <div class="panel-body">
          {% include "boh/snippets/form/_general.html" with control=form.environment_type %}
          {% include "boh/snippets/form/_general.html" with control=form.description %}
          {% include "boh/snippets/form/_checkbox.html" with control=form.testing_approved %}
        </div>
        <div class="panel-footer">
          <button class="btn btn-primary" type="submit">{% trans 'Create Environment' %}</button>
          <a href="{% url 'boh:application.environments' application.id %}" class="btn btn-default" role="button">{% trans 'Cancel' %}</a>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-4">
    <div class="well hidden-sm hidden-xs">
      <p>{% trans 'Documentation about how environment work here.' %}</p>
    </div>
  </div>
</div>
{% endblock environment_content %}
