{% extends "pearson_dcl/base.html" %}

{% block title %}DCL Calculator{% endblock %}

{% block content %}
  <div class="col-md-12">
    <div class="page-header">
      <h1>Application Security <small>Data Classification Level Calculator</small></h1>
    </div>

    <p class="lead">This utility will assist you in calculating the Data Classification Level (DCL) for your application.</p>

    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Data Classification Level (DCL) Calculator</h3>
          </div>
          <div class="panel-body">
            <form method="get" action="{% url 'pearson_dcl:index' %}">
              {% include "boh/snippets/form/_general.html" with control=dcl_form.data_elements label='What data elements exist within your application?' %}
              <button class="btn btn-primary" type="submit">Calculate Data Classification Level</button>
              <a class="btn btn-default" href="{% url 'pearson_dcl:index' %}">Reset</a>
            </form>
          </div>
        </div>
      </div>
      {% if dcl %}
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Results</h3>
          </div>
          <div class="panel-body">
            <span class="text-{% if dcl == 1 %}success{% elif dcl == 2 %}info{% elif dcl == 3 %}warning{% elif dcl == 4 %}danger{% endif %}" style="font-size: 250%; font-weight: bold;">DCL {{ dcl }}</span>
          </div>
          <div class="panel-footer">
            <span class="text-muted">DSV {{ dsv }}</span>
          </div>
        </div>
      </div>
      {% endif %}
    </div>

    <hr>

    <h3>What is a Data Classification Level (DCL)?</h3>
    <p>A Data Classification Level (DCL) is a value from 1 to 4 designed to summarize the risk of the data contained within a software application. A higher DCL indicates more sensitive data elements.</p>

    <h3>How is the Data Classification Level (DCL) calculated?</h3>
    <p>The Data Classification Level is calculated using the Data Sensitivity Value (DSV). The DCL is determined based of the range the DSV is within.</p>

    <div class="row">
      <div class="col-md-6">
        <table class="table table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th class="col-md-6">DSV Range</th>
              <th class="col-md-6">DCL Level</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>&lt; 15</td>
              <td class="bg-success">1</td>
            </tr>
            <tr>
              <td>15 - 99.9</td>
              <td class="bg-info">2</td>
            </tr>
            <tr>
              <td>100 - 149.9</td>
              <td class="bg-warning">3</td>
            </tr>
            <tr>
              <td>&gt;= 150</td>
              <td class="bg-danger">4</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <h3>What is the Data Sensitivity Value (DSV)?</h3>
    <p>The Data Sensitivity Value (DSV) is the raw value calculated from the selected data elements.</p>

    <h3>How is the Data Sensitivity Value (DSV) calculated?</h3>
    <p>Each data element belongs to one of the following categories: Global, Personal, Student, Government, Payment Card Industry (PCI), Medical, and Company. Each category has an initial value of <strong>zero</strong> except for the Global category which starts at <strong>one</strong>.</p>

    <div class="well well-sm">
      <samp>GLOBAL = 1.0</samp><br>
      <samp>PERSONAL = 0.0</samp><br>
      <samp>STUDENT = 0.0</samp><br>
      <samp>GOVERNMENT = 0.0</samp><br>
      <samp>PCI = 0.0</samp><br>
      <samp>MEDICAL = 0.0</samp><br>
      <samp>COMPANY = 0.0</samp>
    </div>

    <p>After the data elements are chosen they are summed by category. Lastly, the following equation is used to find the Data Sensitivity Value:</p>
    <div class="well well-sm">
      <samp>DSV = GLOBAL * (PERSONAL + STUDENT + GOVERNMENT) + PCI + MEDICAL + COMPANY</samp>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p><a class="btn btn-default btn-lg" role="button" data-toggle="collapse" href="#example1" aria-expanded="false" aria-controls="example1">Example 1</a></p>
        <div class="collapse" id="example1">
          <p>Here are the selected data elements.</p>
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Weight</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>First Name</td>
                <td>Personal</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Last Name</td>
                <td>Global</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Social Security Number</td>
                <td>Government</td>
                <td>100</td>
              </tr>
            </tbody>
          </table>
          <p>Here are the summed category values.</p>
          <div class="well well-sm">
            <samp>GLOBAL = 11.0</samp><br>
            <samp>PERSONAL = 2.0</samp><br>
            <samp>STUDENT = 0.0</samp><br>
            <samp>GOVERNMENT = 100.0</samp><br>
            <samp>PCI = 0.0</samp><br>
            <samp>MEDICAL = 0.0</samp><br>
            <samp>COMPANY = 0.0</samp>
          </div>
          <p>Here we are applying the DSV equation and calculating the result.</p>
          <div class="well well-sm">
            <samp>1020.0 = 11.0 * (2.0 + 0.0 + 100.0) + 0.0 + 0.0 + 0.0</samp>
          </div>
          <p>The DSV for the First Name, Last Name, and Social Security Number is <strong>1020.0</strong>. This would be <strong>DCL 4</strong>.</p>
        </div>
      </div>
      <div class="col-md-6">
        <p><a class="btn btn-default btn-lg" role="button" data-toggle="collapse" href="#example2" aria-expanded="false" aria-controls="example2">Example 2</a></p>
        <div class="collapse" id="example2">
          <p>Here are the selected data elements.</p>
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Weight</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Email</td>
                <td>Global</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Phone Number</td>
                <td>Personal</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Address</td>
                <td>Personal</td>
                <td>2</td>
              </tr>
            </tbody>
          </table>
          <p>Here are the summed category values.</p>
          <div class="well well-sm">
            <samp>GLOBAL = 11.0</samp><br>
            <samp>PERSONAL = 4.0</samp><br>
            <samp>STUDENT = 0.0</samp><br>
            <samp>GOVERNMENT = 0.0</samp><br>
            <samp>PCI = 0.0</samp><br>
            <samp>MEDICAL = 0.0</samp><br>
            <samp>COMPANY = 0.0</samp>
          </div>
          <p>Here we are applying the DSV equation and calculating the result.</p>
          <div class="well well-sm">
            <samp>44.0 = 11.0 * (4.0 + 0.0 + 0.0) + 0.0 + 0.0 + 0.0</samp>
          </div>
          <p>The DSV for the Email, Phone Number, and Address is <strong>44.0</strong>. This would be <strong>DCL 2</strong>.</p>
        </div>
      </div>
    </div>

    <h3>What are the possible data elements and their weights?</h3>
    <p>Click the button below to see the full table of possible data elements.</p>
    <p><a class="btn btn-default" role="button" data-toggle="collapse" href="#collapseTable" aria-expanded="false" aria-controls="collapseTable">Show table of data elements</a></p>
    <div class="collapse" id="collapseTable">
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th class="col-md-6">Name</th>
            <th class="col-md-4">Category</th>
            <th class="col-md-2">Weight</th>
          </tr>
        </thead>
        <tbody>
        {% for data_element in data_elements %}
          <tr>
            <td>{{ data_element.name }}</td>
            <td>{{ data_element.get_category_display }}</td>
            <td>{{ data_element.weight }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>


  </div>
{% endblock content %}
