{% extends "boh/person/base_person.html" %}

{% load i18n %}
{% load boh_tags %}

{% block title %}{{ person.first_name }} {{ person.last_name }}{% endblock %}

{% block person_content %}
<div class="row">
  <div class="col-md-4 col-md-push-8">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td><strong>{% trans 'Email' %}</strong></td>
          <td><a href="mailto://{{ person.email }}">{{ person.email }}</a></td>
        </tr>
        <tr>
          <td><strong><span class="hidden-xs">{% trans 'Phone' %} </span>{% trans 'Work' %}</strong></td>
          <td>{{ person.phone_work|format_phone }}</td>
        </tr>
        <tr>
          <td><strong><span class="hidden-xs">{% trans 'Phone' %} </span>{% trans 'Mobile' %}</strong></td>
          <td>{{ person.phone_mobile|format_phone }}</td>
        </tr>
        <tr>
          <td><strong><span class="hidden-xs">{% trans 'Job' %} </span>{% trans 'Title' %}</strong></td>
          <td>{{ person.job_title }}</td>
        </tr>
        <tr>
          <td><strong>{% trans 'Role' %}</strong></td>
          <td>{{ person.get_role_display }}</td>
        </tr>
      </tbody>
    </table>
    <p><a href="{% url 'boh:person.edit' person.id %}" class="btn btn-default" role="button"><span class="fa fa-pencil-square-o" aria-hidden="true"></span> {% trans 'Edit Person' %}</a></p>

  </div>
  <div class="col-md-8 col-md-pull-4">
    <h3 class="no-margin-top"><span class="fa fa-building" aria-hidden="true"></span> {% trans 'Organizations' %}</h3>
    <div class="list-group">
      {% for organization in person.organization_set.all %}
      <a href="{% url 'boh:organization.overview' organization.id %}" class="list-group-item">
        <h4 class="list-group-item-heading no-margin-bottom">{{ organization.name }}</h4>
      </a>
      {% empty %}
      <li class="list-group-item"><small class="text-muted"><em>{{ person.first_name }} {% trans 'is not associated with any organizations.' %}</em></small></li>
      {% endfor %}
    </div>

    <h3><span class="fa fa-list-alt" aria-hidden="true"></span> {% trans 'Applications' %}</h3>
    <div class="list-group">
      {% for relation in person.relation_set.all %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-10 col-md-6">
            <h4 class="list-group-item-heading no-margin-bottom"><a href="{% url 'boh:application.overview' relation.application.id %}">{{ relation.application.name }}</a><span class="hidden-xs"> <small class="text-muted">{{ relation.application.organization.name }}</small></span></h4>
          </div>
          <div class="col-xs-2 col-md-6">
            <a href="{% url 'boh:application.people.edit' relation.application.id relation.id %}" class="btn btn-default btn-xs pull-right" role="button" data-toggle="tooltip" data-placement="bottom" title="Edit"><span class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></span><span class="hidden-xs"> {% trans 'Edit' %}</span></a>
          </div>
        </div>
        {% if relation.owner %}<span class="label label-default" data-toggle="tooltip" data-placement="bottom" title="Application Owner"><span class="fa fa-gavel fa-fw" aria-hidden="true"></span><span class="hidden-xs"> {% trans 'Owner' %}</span></span>{% endif %}
        {% if relation.emergency %}<span class="label label-danger" data-toggle="tooltip" data-placement="bottom" title="Emergency Contact"><span class="fa fa-life-ring fa-fw" aria-hidden="true"></span><span class="hidden-xs"> {% trans 'Emergency' %}</span></span>{% endif %}
        {% if relation.notes %}{% if relation.owner or relation.emergency %}<br>{% endif %}<small class="text-muted">{{ relation.notes }}</small>{% endif %}
      </li>
      {% empty %}
      <li class="list-group-item"><small class="text-muted"><em>{{ person.first_name }} {% trans 'is not associated with any applications.' %}</em></small></li>
      {% endfor %}
    </div>

    <h3><span class="fa fa-calendar" aria-hidden="true"></span> Engagements</h3>
    <div class="list-group">
      {% for engagement in person.engagement_set.all %}
      {% include "boh/snippets/application/_engagement.html" with engagement=engagement %}
      {% empty %}
      <li class="list-group-item"><small class="text-muted"><em>{{ person.first_name }} {% trans 'has not requested any engagements.' %}</em></small></li>
      {% endfor %}
    </div>


  </div>
</div>
{% endblock person_content %}
