{% extends "boh/base.html" %}

{% block title %}{{ person.first_name }} {{ person.last_name }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4 col-md-push-8">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td><strong>Email</strong></td>
          <td>{{ person.email }}</td>
        </tr>
        <tr>
          <td><strong>Phone Work</strong></td>
          <td>{{ person.phone_work }}</td>
        </tr>
        <tr>
          <td><strong>Phone Mobile</strong></td>
          <td>{{ person.phone_mobile }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-8 col-md-pull-4">
    <h2 class="no-margin-top">{{ person.first_name }} {{ person.last_name }}</h2>
  </div>
</div>
{% endblock %}
