{% extends "boh/person/base_person.html" %}

{% load i18n %}

{% block title %}{{ person.first_name }} {{ person.last_name }} | {% trans 'Edit' %}{% endblock %}

{% block person_content %}
<div class="row">
  <div class="col-md-8">
    <form method="post" action="{% url 'boh:person.edit' person.id %}">
      {% csrf_token %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans 'Edit' %} {{ person.first_name }} {{ person.last_name }}</h3>
        </div>
        <div class="panel-body">
          {% include "boh/snippets/form/_general.html" with control=form.first_name %}
          {% include "boh/snippets/form/_general.html" with control=form.last_name %}
          {% include "boh/snippets/form/_general.html" with control=form.email %}
          {% include "boh/snippets/form/_general.html" with control=form.phone_work %}
          {% include "boh/snippets/form/_general.html" with control=form.phone_mobile %}
          {% include "boh/snippets/form/_general.html" with control=form.job_title %}
          {% include "boh/snippets/form/_general.html" with control=form.role %}
        </div>
        <div class="panel-footer">
          <button class="btn btn-primary" type="submit">{% trans 'Update Person' %}</button>
          <a href="{% url 'boh:person.detail' person.id %}" class="btn btn-default" role="button">{% trans 'Cancel' %}</a>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-4">
    <form method="post" action="{% url 'boh:person.delete' person.id %}">
      {% csrf_token %}
      <button class="btn btn-danger" type="submit" onclick="return confirm('{% trans 'Are you sure want to delete this person?' %}');"><span class="fa fa-trash-o" aria-hidden="true"></span> {% trans 'Delete Person' %}</button>
    </form>
  </div>
</div>
{% endblock person_content %}
