{% extends "boh/base.html" %}

{% load i18n %}

{% block title %}{% trans 'People' %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 clearfix">
    <div class="pull-right">
      <nav>
        <span class="text-muted"><b>{{ people.start_index }}</b> - <b>{{ people.end_index }}</b> of <b>{{ people.paginator.count }}</b></span>
        <div class="btn-group" role="group" aria-label="...">
          <a class="btn btn-default{% if not people.has_previous %} disabled{% endif %}" href="{% if people.has_previous %}?page={{ people.previous_page_number }}{% endif %}" role="button"><span class="fa fa-chevron-left"></span></a>
          <a class="btn btn-default{% if not people.has_next %} disabled{% endif %}" href="{% if people.has_next %}?page={{ people.next_page_number }}{% endif %}" role="button"><span class="fa fa-chevron-right"></span></a>
        </div>
      </nav>
    </div>
    <a href="{% url 'boh:person.add' %}" class="btn btn-success" role="button"><i class="fa fa-plus"></i> {% trans 'Add Person' %}</a>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-md-3">{% trans 'Name' %}</th>
            <th class="col-md-4">{% trans 'Title' %}</th>
            <th class="col-md-3">{% trans 'Email' %}</th>
            <th class="col-md-2">{% trans 'Role' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for person in people %}
          <tr>
            <td><a href="{% url 'boh:person.detail' person.id %}">{{ person.last_name }}, {{ person.first_name }} </a></td>
            <td>{{ person.job_title }}</td>
            <td><a href="mailto://{{ person.email }}">{{ person.email }}</a></td>
            <td>{{ person.get_role_display }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
