{% extends "boh/organization/base_organizations.html" %}

{% load i18n %}

{% block organization_content %}
<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-cogs" aria-hidden="true"></span> {% trans 'Organization Settings' %}</h3>
      </div>
      <div class="list-group">
        <a href="{% url 'boh:organization.settings.general' organization.id %}" class="list-group-item{% if active_side == 'general' %} active{% endif %}"><span class="fa fa-book fa-fw" aria-hidden="true"></span> {% trans 'General' %}</a>
        <a href="{% url 'boh:organization.settings.people' organization.id %}" class="list-group-item{% if active_side == 'people' %} active{% endif %}"><span class="fa fa-users fa-fw" aria-hidden="true"></span> {% trans 'People' %}</a>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="list-group">
        <a href="{% url 'boh:organization.settings.danger' organization.id %}" class="list-group-item{% if active_side == 'danger' %} active{% endif %}"><span class="fa fa-bomb fa-fw" aria-hidden="true"></span> {% trans 'Danger Zone' %}</a>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-8 col-lg-9">
    {% block settings_content %}
    {% endblock settings_content %}
  </div>
</div>
{% endblock organization_content %}
