{% extends "boh/organization/settings/base_settings.html" %}

{% load i18n %}

{% block title %}{{ organization.name }} | {% trans 'Settings' %} | {% trans 'Danger Zone' %}{% endblock %}

{% block settings_content %}
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans 'Delete Organization' %}</h3>
  </div>
  <div class="panel-body">
    <form method="post" action="{% url 'boh:organization.settings.danger' organization.id %}">
      {% csrf_token %}
      <p class="text-muted">{% trans 'Once you delete an organization, there is no going back. Please be certain.' %}</p>
      <button class="btn btn-danger" type="submit" onclick="return confirm('{% trans 'Are you sure want to delete this organization?' %}');"><span class="fa fa-trash-o" aria-hidden="true"></span> {% trans 'Delete Organization' %}</button>
    </form>
  </div>
</div>
{% endblock settings_content %}
