{% extends "boh/organization/settings/base_settings.html" %}

{% load i18n %}

{% block title %}{{ organization.name }} | {% trans 'Settings' %} | {% trans 'People' %}{% endblock %}

{% block settings_content %}
<form method="post" action="{% url 'boh:organization.settings.people' organization.id %}">
  {% csrf_token %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{% trans 'Related People' %}</h3>
    </div>
    <div class="panel-body">
      {% include "boh/snippets/form/_general.html" with control=people_form.people %}
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" type="submit">{% trans 'Update Related People' %}</button>
    </div>
  </div>
</form>
{% endblock settings_content %}
