{% extends "boh/application/base_applications.html" %}
{% load i18n %}

{% block title %}{{ application.name }} | {% trans 'People' %} | {% trans 'Add Person' %}{% endblock %}

{% block application_content %}
<div class="row">
  <div class="col-md-8">
    <form method="post" action="{% url 'boh:application.people.edit' application.id relation.id %}">
      {% csrf_token %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans 'Edit Person' %}</h3>
        </div>
        <div class="panel-body">
          {% include "boh/snippets/form/_general.html" with control=relation_form.person %}
          {% include "boh/snippets/form/_checkbox.html" with control=relation_form.owner %}
          {% include "boh/snippets/form/_checkbox.html" with control=relation_form.emergency %}
          {% include "boh/snippets/form/_general.html" with control=relation_form.notes %}
        </div>
        <div class="panel-footer">
          <button class="btn btn-primary" type="submit">{% trans 'Update Person' %}</button>
          <a href="{% url 'boh:application.people' application.id %}" class="btn btn-default" role="button">{% trans 'Cancel' %}</a>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-4">
    <div class="well hidden-sm hidden-xs">
      <p>{% trans 'Documentation about how relations work here.' %}</p>
    </div>
    <form method="post" action="{% url 'boh:application.people.delete' application.id relation.id %}">
      {% csrf_token %}
      <button class="btn btn-danger" type="submit" onclick="return confirm('{% trans 'Are you sure want to remove this related person?' %}');"><span class="fa fa-times" aria-hidden="true"></span> {% trans 'Remove Related Person' %}</button>
    </form>
  </div>
</div>
{% endblock application_content %}
