{% extends "boh/application/base_applications.html" %}
{% load i18n %}

{% block title %}{{ application.name }} | {% trans 'Engagements' %}{% endblock %}

{% block application_content %}
<div class="row">
  <div class="col-md-8">
    <a href="{% url 'boh:engagement.add' application.id %}" class="btn btn-success" role="button"><span class="fa fa-plus" aria-hidden="true"></span><span class="hidden-xs"> {% trans 'New Engagement' %}</span></a>

    <hr>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-info-circle" aria-hidden="true"></span> {% trans 'Pending' %} <small class="hidden-xs">{% trans 'Engagements that have not yet started' %}</small></h3>
      </div>
      <div class="list-group">
        {% for engagement in pending_engagements %}
        {% include "boh/snippets/application/_engagement.html" with engagement=engagement %}
        {% empty %}
        <li class="list-group-item"><small><em class="text-muted">{% trans 'There are no pending engagements.' %}</em></small></li>
        {% endfor %}
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-exclamation-circle" aria-hidden="true"></span> {% trans 'Open' %} <small class="hidden-xs">{% trans 'Engagements that are in progress' %}</small></h3>
      </div>
      <div class="list-group">
        {% for engagement in open_engagements %}
        {% include "boh/snippets/application/_engagement.html" with engagement=engagement %}
        {% empty %}
        <li class="list-group-item"><small><em class="text-muted">{% trans 'There are no open engagements.' %}</em></small></li>
        {% endfor %}
      </div>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-check-circle" aria-hidden="true"></span> {% trans 'Closed' %} <small class="hidden-xs">{% trans 'Engagements that have been completed' %}</small></h3>
      </div>
      <div class="list-group">
        {% for engagement in closed_engagements %}
        {% include "boh/snippets/application/_engagement.html" with engagement=engagement %}
        {% empty %}
        <li class="list-group-item"><small><em class="text-muted">{% trans 'There are no closed engagements.' %}</em></small></li>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well hidden-sm hidden-xs">
      <p>{% trans 'Documentation' %}:</p>
      <p>{% trans 'If a pending engagement is yellow it is within the scheduled dates and needs to be opened and worked on.' %}</p>
      <p>{% trans 'If a pending or open engagement is red it past its scheduled end date and needs to be completed and closed.' %}</p>
    </div>
  </div>
</div>
{% endblock application_content %}
