{% extends "boh/application/base_applications.html" %}
{% load i18n %}

{% block title %}{{ application.name }} | {% trans 'Environments' %}{% endblock %}

{% block application_content %}
<div class="row">
  <div class="col-md-8">
    <a href="{% url 'boh:environment.add' application.id %}" class="btn btn-success" role="button"><span class="fa fa-plus" aria-hidden="true"></span><span class="hidden-xs"> {% trans 'New Environment' %}</span></a>

    <hr>

    {% if application.environment_set.all %}
    {% for environment in application.environment_set.all %}
    <div class="panel {% if environment.testing_approved %}panel-success{% else %}panel-danger{% endif %}">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>{{ environment.get_environment_type_display }} <span class="hidden-xs"> {% trans 'Environment' %}</span></strong> {% if environment.testing_approved %}<span class="label label-success hidden-xs pull-right"><span class="fa fa-thumbs-up" aria-hidden="true"></span> {% trans 'Approved for Security Testing' %}</span>{% else %}<span class="label label-danger hidden-xs pull-right"><span class="fa fa-thumbs-down" aria-hidden="true"></span> {% trans 'Not Approved for Security Testing' %}</span>{% endif %}</h3>
      </div>
      <ul class="list-group">
        {% if environment.description %}
        <li class="list-group-item"><span class="text-muted">{{ environment.description }}</span></li>
        {% endif %}
        {% for location in environment.environmentlocation_set.all %}
        <a href="{{ location.location }}" target="_blank" class="list-group-item">
          <p class="list-group-item-heading no-margin-bottom"><strong class="text-primary">{{ location.location }} <span class="fa fa-external-link" aria-hidden="true"></span></strong></p>
          {% if location.notes %}
          <p class="list-group-item-text"><small class="text-muted">{{ location.notes }}</small></p>
          {% endif %}
        </a>
        {% empty %}
        <li class="list-group-item"><small class="text-muted"><em>{% blocktrans %}There are no locations for this {{ environment.get_environment_type_display|lower }} environment.{% endblocktrans %}</em></small></li>
        {% endfor %}
      </ul>
      {% if environment.environmentcredentials_set.all %}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>{% trans 'Usernames' %}</th>
              <th>{% trans 'Passwords' %} <a data-toggle="collapse" data-target=".passwords-{{ environment.id }}" aria-expanded="false" aria-controls="passwords-{{ environment.id }}">{% trans '[Toggle]' %}</a></th>
              <th>{% trans 'Roles' %}</th>
              <th>{% trans 'Notes' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for credential in environment.environmentcredentials_set.all %}
            <tr>
              <td>{% if credential.username %}{{ credential.username }}{% else %}<small class="text-muted"><em>N/A</em></small>{% endif %}</td>
              <td>{% if credential.password %}<span class="collapse fade passwords-{{ environment.id }}">{{ credential.password }}</span><span class="collapse in passwords-{{ environment.id }} fade"><span class="text-warning"><span class="fa fa-eye-slash" aria-hidden="true"></span> {% trans 'Hidden' %}</span></span>{% else %}<small class="text-muted"><em>N/A</em></small>{% endif %}</td>
              <td>{% if credential.role_description %}{{ credential.role_description }}{% else %}<small class="text-muted"><em>N/A</em></small>{% endif %}</td>
              <td>{% if credential.notes %}<button class="btn btn-xs btn-default" type="button" data-toggle="collapse" data-target="#notes-{{ credential.id }}" aria-expanded="false" aria-controls="notes-{{ credential.id }}">{% trans 'View Notes' %}</button>{% endif %}</td>
            </tr>
            {% if credential.notes %}
            <tr class="collapse" id="notes-{{ credential.id }}">
              <td colspan="4"><span class="text-muted">{{ credential.notes }}</span></td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
      <div class="panel-footer">
        <a class="btn btn-sm btn-default" href="{% url 'boh:environment.edit.general' environment.id %}" role="button"><span class="fa fa-pencil-square-o" aria-hidden="true"></span> {% trans 'Edit Environment' %}</a>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p class="text-muted"><small><em>{% trans 'There are no environments.' %}</em></small></p>
    {% endif %}
  </div>

  <div class="col-md-4">
    <div class="well hidden-sm hidden-xs">
      <p>{% trans 'Documentation about how environments work here.' %}</p>
    </div>
  </div>
</div>
{% endblock application_content %}
