{% extends "boh/base.html" %}

{% load humanize %}
{% load icon_filters %}
{% load widget_tweaks %}

{% block title %}Applications{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-12">
    <form action="{% url 'boh:application.list' %}" method="get">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-3">
              {{ applications.form.name|add_class:"form-control"|attr:"placeholder:Name" }}
            </div>
            <div class="col-xs-3">
              {{ applications.form.organization|add_class:"selectpicker"|attr:"data-width:100%"|attr:"data-selected-text-format:count"|attr:"title:Any Organization" }}
            </div>
            <div class="col-xs-2">
              {{ applications.form.business_criticality|add_class:"selectpicker"|attr:"data-width:100%"|attr:"data-selected-text-format:count"|attr:"title:Any Criticality" }}
            </div>
            <div class="col-xs-4">
              <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                  <button class="btn btn-default" type="submit"><span class="fa fa-filter" aria-hidden="true"></span> Filter</button>
                </div>
                <a href="{% url 'boh:application.list' %}" class="btn btn-default" role="button"><span class="fa fa-eraser" aria-hidden="true"></span> Clear</a>
                <a class="btn btn-default" data-toggle="collapse" href="#advanced" aria-expanded="false" aria-controls="advanced" role="button"><span class="fa fa-cogs" aria-hidden="true"></span> Advanced</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="collapse{% if show_advanced %}.in{% endif %} well" id="advanced">
        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="form-group">
                  <label class="control-label" for="{{ applications.form.platform.id_for_label }}">{{ applications.form.platform.label }}:</label>
                  {{ applications.form.platform|add_class:"selectpicker"|attr:"data-width:100%" }}
                </div>
                <div class="form-group">
                  <label class="control-label" for="{{ applications.form.lifecycle.id_for_label }}">{{ applications.form.lifecycle.label }}:</label>
                  {{ applications.form.lifecycle|add_class:"selectpicker"|attr:"data-width:100%" }}
                </div>
                <div class="form-group">
                  <label class="control-label" for="{{ applications.form.origin.id_for_label }}">{{ applications.form.origin.label }}:</label>
                  {{ applications.form.origin|add_class:"selectpicker"|attr:"data-width:100%" }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <label class="control-label" for="{{ applications.form.tags.id_for_label }}">{{ applications.form.tags.label }}:</label>
                {{ applications.form.tags|add_class:"selectpicker"|attr:"data-width:100%"|attr:"data-selected-text-format:count"|attr:"title:Any Tags" }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>


  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-xs-3">Name</th>
              <th class="col-xs-2">Organization</th>
              <th class="col-xs-2">Criticality</th>
              <th class="col-xs-2">Metadata</th>
              <th class="col-xs-3">Tags</th>
            </tr>
          </thead>
          <tbody>
            {% for application in applications %}
            <tr>
              <td><strong><a href="{% url 'boh:application.overview' application.id %}">{{ application.name }}</a></strong>{% if application.is_new %} <sup class="text-warning" data-toggle="tooltip" data-placement="bottom" title="Created {{ application.created_date|naturaltime }}">New!</sup>{% endif %}</td>
              <td><a href="{% url 'boh:organization.overview' application.organization.id %}">{{ application.organization.name }}</a></td>
              <td>{% if application.business_criticality %}{{ application.get_business_criticality_display }}{% endif %}</td>
              <td>{{ application.platform|platform_icon }}</td>
              <td>
                {% for tag in application.tags.all %}
                {% include "boh/snippets/common/tag_label.html" with tag=tag %}
                {% endfor %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    {% if user.is_staff %}
    <a href="{% url 'boh:organization.add' %}" class="btn btn-default" role="button"><span class="fa fa-plus" aria-hidden="true"></span> Add Organization</a>
    {% endif %}
    <a href="{% url 'boh:application.add' %}" class="btn btn-default" role="button"><span class="fa fa-plus" aria-hidden="true"></span> Add Application</a>

    <!--
    <hr>
    <form action="{% url 'boh:application.list' %}" method="get">
      {{ applications.form.as_p }}
      <input type="submit" />
    </form>
    -->
  </div>
</div>
{% endblock %}
