{% extends "boh/base.html" %}

{% load i18n %}
{% load humanize %}
{% load icon_filters %}
{% load widget_tweaks %}

{% block title %}{% trans 'Applications' %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="margin-bottom clearfix">
      {% if user.is_staff %}
      <a href="{% url 'boh:organization.add' %}" class="btn btn-default" role="button" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Add Organization' %}"><span class="fa fa-plus" aria-hidden="true"></span><span class="hidden-xs"> {% trans 'Add Organization' %}</span></a>
      {% endif %}
      <a href="{% url 'boh:application.add' %}" class="btn btn-default" role="button" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Add Application' %}"><span class="fa fa-plus" aria-hidden="true"></span><span class="hidden-xs"> {% trans 'Add Application' %}</span></a>

      <div class="pull-right">
        <span class="text-muted"><b>{{ applications.start_index }}</b> - <b>{{ applications.end_index }}</b> of <b>{{ applications.paginator.count }}</b></span>
        <div class="btn-group" role="group" aria-label="...">
          <a class="btn btn-default{% if not applications.has_previous %} disabled{% endif %}" href="{% if applications.has_previous %}?{% if queries %}{{ queries.urlencode }}&{% endif %}page={{ applications.previous_page_number }}&page_size={{ page_size }}{% endif %}" role="button"><span class="fa fa-chevron-left" aria-hidden="true"></span></a>
          <a class="btn btn-default{% if not applications.has_next %} disabled{% endif %}" href="{% if applications.has_next %}?{% if queries %}{{ queries.urlencode }}&{% endif %}page={{ applications.next_page_number }}&page_size={{ page_size }}{% endif %}" role="button"><span class="fa fa-chevron-right" aria-hidden="true"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="{% url 'boh:application.list' %}" method="get">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-2 col-lg-3">
              <div class="form-group no-margin-bottom-md no-margin-bottom-lg">
                {{ form.name|add_class:"form-control"|attr:"placeholder:Name" }}
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="form-group no-margin-bottom-md no-margin-bottom-lg">
                {{ form.organization|add_class:"form-control"|attr:"placeholder:Organization" }}
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="form-group no-margin-bottom-md no-margin-bottom-lg">
                {{ form.business_criticality|add_class:"form-control"|attr:"placeholder:Criticality" }}
              </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-4">
              <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                  <button class="btn btn-default" type="submit"><span class="fa fa-filter" aria-hidden="true"></span><span class="hidden-xs"> {% trans 'Filter' %}</span></button>
                </div>
                <a href="{% url 'boh:application.list' %}" class="btn btn-default" role="button"><span class="fa fa-eraser" aria-hidden="true"></span><span class="hidden-xs"> {% trans 'Clear' %}</span></a>
                <a class="btn btn-default" data-toggle="collapse" href="#advanced" aria-expanded="false" aria-controls="advanced" role="button"><span class="fa fa-cogs" aria-hidden="true"></span><span class="hidden-xs"> {% trans 'Advanced' %}</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="collapse{% if show_advanced %}.in{% endif %} well" id="advanced">
        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-default no-margin-bottom-md no-margin-bottom-lg">
              <div class="panel-body">
                <div class="form-group">
                  <label class="control-label" for="{{ form.platform.id_for_label }}">{{ form.platform.label }}:</label>
                  {{ form.platform|add_class:"form-control"|attr:"placeholder:Platform"|attr:"style:width: 100%" }}
                </div>
                <div class="form-group">
                  <label class="control-label" for="{{ form.lifecycle.id_for_label }}">{{ form.lifecycle.label }}:</label>
                  {{ form.lifecycle|add_class:"form-control"|attr:"placeholder:Lifecycle" }}
                </div>
                <div class="form-group">
                  <label class="control-label" for="{{ form.origin.id_for_label }}">{{ form.origin.label }}:</label>
                  {{ form.origin|add_class:"form-control"|attr:"placeholder:Origin" }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="form-group">
                  <label class="control-label" for="{{ form.external_audience.id_for_label }}">{{ form.external_audience.label }}:</label>
                  {{ form.external_audience|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label class="control-label" for="{{ form.internet_accessible.id_for_label }}">{{ form.internet_accessible.label }}:</label>
                  {{ form.internet_accessible|add_class:"form-control" }}
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-body">
                <label class="control-label" for="{{ form.technologies.id_for_label }}">{{ form.technologies.label }}:</label>
                {{ form.technologies|add_class:"form-control"|attr:"placeholder:Technologies" }}
              </div>
            </div>
            <div class="panel panel-default no-margin-bottom-md no-margin-bottom-lg">
              <div class="panel-body">
                <label class="control-label" for="{{ form.asvs_level.id_for_label }}">ASVS Level</label>
                {{ form.asvs_level|add_class:"form-control"|attr:"placeholder:ASVS" }}
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <label class="control-label" for="{{ form.regulations.id_for_label }}">{{ form.regulations.label }}:</label>
                {{ form.regulations|add_class:"form-control"|attr:"placeholder:Regulations" }}
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-body">
                <label class="control-label" for="{{ form.tags.id_for_label }}">{{ form.tags.label }}:</label>
                {{ form.tags|add_class:"form-control"|attr:"placeholder:Tags" }}
              </div>
            </div>
            <div class="panel panel-default no-margin-bottom-md no-margin-bottom-lg">
              <div class="panel-body">
                <label class="control-label" for="{{ form.service_level_agreements.id_for_label }}">{{ form.service_level_agreements.label }}:</label>
                {{ form.service_level_agreements|add_class:"form-control"|attr:"placeholder:Service Level Agreements" }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-xs-3">{% trans 'Name' %}</th>
              <th class="col-xs-2">{% trans 'Organization' %}</th>
              <th class="col-xs-1 text-center">{% trans 'Criticality' %}</th>
              <th class="col-xs-2">{% trans 'Metadata' %}</th>
              <th class="col-xs-4">{% trans 'Tags' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for application in applications %}
            <tr>
              <td><strong><a href="{% url 'boh:application.overview' application.id %}">{{ application.name }}</a></strong>{% if application.is_new %} <sup class="text-warning" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Created' %} {{ application.created_date|naturaltime }}">{% trans 'New' %}!</sup>{% endif %}</td>
              <td><a href="{% url 'boh:organization.overview' application.organization.id %}">{{ application.organization.name }}</a></td>
              <td class="text-center">{{ application.business_criticality|business_criticality_icon }}</td>
              <td>
                {{ application.platform|platform_icon }}
                {{ application.lifecycle|lifecycle_icon }}
                {{ application.origin|origin_icon }}
                {{ application.external_audience|external_audience_icon }}
                {{ application.internet_accessible|internet_accessible_icon }}
              </td>
              <td>
                {% for tag in application.tags.all %}
                {% include "boh/snippets/common/tag_label.html" with tag=tag %}
                {% endfor %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-9 col-md-10">
    {% if applications.paginator.num_pages > 1 %}
    <nav>
      <ul class="pagination no-margin-top">
        {% if applications.has_previous %}
        <li>
          <a href="?{% if queries %}{{ queries.urlencode }}&{% endif %}page={{ applications.previous_page_number }}&page_size={{ page_size }}" aria-label="{% trans 'Previous' %}"><span class="fa fa-angle-double-left" aria-hidden="true"></span></a>
        </li>
        {% else %}
        <li class="disabled">
          <a href="#" aria-label="Previous"><span class="fa fa-angle-double-left" aria-hidden="true"></span></a>
        </li>
        {% endif %}

        {% for num in applications.paginator.page_range %}
        {% ifequal num applications.number %}
        <li class="active hidden-xs"><a href="?{% if queries %}{{ queries.urlencode }}&{% endif %}page={{ num }}&page_size={{ page_size }}">{{ num }}<span class="sr-only">({% trans 'current' %})</span></a></li>
        {% else %}
        <li class="hidden-xs"><a href="?{% if queries %}{{ queries.urlencode }}&{% endif %}page={{ num }}&page_size={{ page_size }}">{{ num }}</a></li>
        {% endifequal %}
        {% endfor %}

        {% if applications.has_next %}
        <li><a href="?{% if queries %}{{ queries.urlencode }}&{% endif %}page={{ applications.next_page_number }}&page_size={{ page_size }}" aria-label="{% trans 'Next' %}"><span class="fa fa-angle-double-right" aria-hidden="true"></span></a></li>
        {% else %}
        <li class="disabled">
          <a href="#" aria-label="Next"><span class="fa fa-angle-double-right" aria-hidden="true"></span></a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
  </div>
  <div class="col-sm-3 col-md-2">
    {{ page_size_form.page_size|add_class:"form-control"|add_class:"pagesize" }}
  </div>
</div>
{% endblock content %}

{% block js %}
<script>
$('.pagesize').on('change', function() {
  window.location.href = '?{% if queries %}{{ queries.urlencode|escapejs }}' + '&{% endif %}page_size=' + $(this).val();
});
</script>
{% endblock js %}
