{% extends "boh/application/base_applications.html" %}

{% load i18n %}

{% block title %}{{ application.name }} | {% trans 'People' %}{% endblock %}

{% block application_content %}
<div class="row">
  <div class="col-md-8">
    <a href="{% url 'boh:application.people.add' application.id %}" class="btn btn-success" role="button"><span class="fa fa-plus" aria-hidden="true"></span><span class="hidden-xs"> {% trans 'New Related Person' %}</span></a>

    <hr>

    {% regroup application.relation_set.all|dictsort:"person.get_role_display" by person.get_role_display as relation_list_by_role %}
    {% for relations in relation_list_by_role %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ relations.grouper }}</h3>
      </div>
      <div class="list-group">
        {% for relation in relations.list %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-10 col-md-6">
              <h4 class="list-group-item-heading no-margin-bottom"><a href="{% url 'boh:person.detail' relation.person.id %}">{{ relation.person.first_name }} {{ relation.person.last_name }}</a><span class="hidden-xs"> <small class="text-muted">{{ relation.person.job_title }}</small></span></h4>
            </div>
            <div class="col-xs-2 col-md-6">
              <a href="{% url 'boh:application.people.edit' application.id relation.id %}" class="btn btn-default btn-xs pull-right" role="button" data-toggle="tooltip" data-placement="bottom" title="Edit"><span class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></span><span class="hidden-xs"> Edit</span></a>
            </div>
          </div>
          {% if relation.owner %}<span class="label label-default" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Application Owner' %}"><span class="fa fa-gavel fa-fw" aria-hidden="true"></span><span class="hidden-xs"> {% trans 'Owner' %}</span></span>{% endif %}
          {% if relation.emergency %}<span class="label label-danger" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Emergency Contact' %}"><span class="fa fa-life-ring fa-fw" aria-hidden="true"></span><span class="hidden-xs"> {% trans 'Emergency' %}</span></span>{% endif %}
          {% if relation.notes %}{% if relation.owner or relation.emergency %}<br>{% endif %}<small class="text-muted">{{ relation.notes }}</small>{% endif %}
        </li>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-md-4">
    <div class="well hidden-sm hidden-xs">
      <p>{% trans 'Documentation about how people work here.' %}</p>
    </div>
  </div>
</div>
{% endblock application_content %}
