{% extends "boh/management/base_management.html" %}

{% block title %}Management settings | Services | Edit {{ threadfix.name }}{% endblock %}

{% block manage_content %}
<form method="post" action="{% url 'boh:management.services.threadfix.edit' threadfix.id %}">
  {% csrf_token %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Edit ThreadFix Service</h3>
    </div>
    <div class="panel-body">
      {% include "boh/snippets/form/_general.html" with control=threadfix_form.name %}
      {% include "boh/snippets/form/_general.html" with control=threadfix_form.host %}
      {% include "boh/snippets/form/_general.html" with control=threadfix_form.api_key %}
    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <form method="post" action="{% url 'boh:management.services.threadfix.delete' threadfix.id %}">
          {% csrf_token %}
          <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure want to delete this ThreadFix service?');">Delete</button>
        </form>
      </div>

      <button class="btn btn-primary" type="submit">Update<span class="hidden-xs"> ThreadFix Service</span></button>
      <a href="{% url 'boh:management.services' %}" class="btn btn-default" role="button">Cancel</a>
    </div>
  </div>
</form>


{% endblock manage_content %}
