{% load boh_humanize %}
{% load i18n %}
<a href="{% url 'boh:engagement.detail' engagement.id %}" class="list-group-item{% if engagement.is_past_due %} list-group-item-danger{% elif engagement.is_ready_for_work %} list-group-item-warning{% endif %}">
  {% if engagement.comment_count %}
  <span class="badge"><span class="fa fa-comments" aria-hidden="true"></span> {{ engagement.comment_count }}</span>
  {% endif %}
  <h4 class="list-group-item-heading">
  {% if engagement.start_date == engagement.end_date %}
    <span data-toggle="tooltip" data-placement="bottom" title="{{ engagement.start_date|humanize_date }}">{{ engagement.start_date|date:"M. j, Y" }}</span>
  {% else %}
    <span data-toggle="tooltip" data-placement="bottom" title="{{ engagement.start_date|humanize_date }}">{{ engagement.start_date|date:"M. j, Y" }}</span> - <span data-toggle="tooltip" data-placement="bottom" title="{{ engagement.end_date|humanize_date }}">{{ engagement.end_date|date:"M. j, Y" }}</span> ({{ engagement.start_date|timesince:engagement.end_date }})
  {% endif %}
  </h4>

  <p class="list-group-item-text">
    {% if engagement.activity_set.all %}
    {% for activity in engagement.activity_set.all %}
    {% include "boh/snippets/common/_activity_label.html" with activity=activity %}
    {% endfor %}
    {% else %}
    <span class="label label-danger"><span class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></span> {% trans 'No activities for this engagement' %}</span>
    {% endif %}
  </p>
</a>
