<a href="{% url 'boh:engagement.detail' engagement.id %}" class="list-group-item{% if engagement.is_past_due %} list-group-item-danger{% elif engagement.is_ready_for_work %} list-group-item-warning{% endif %}">
  {% if engagement.engagementcomment_set.all %}
  <span class="badge"><span class="fa fa-comments" aria-hidden="true"></span> {{ engagement.engagementcomment_set.count }}</span>
  {% endif %}
  <h4 class="list-group-item-heading">{{ engagement.start_date }} - {{ engagement.end_date }}{% if engagement.description %} <small class="hidden-xs">{{ engagement.description|truncatechars:45 }}</small>{% endif %}</h4>
  <p class="list-group-item-text">{% if engagement.start_date == engagement.end_date %}1 day{% else %}{{ engagement.start_date|timesince:engagement.end_date }}{% endif %}
    {% if engagement.activity_set.all %}
    {% for activity in engagement.activity_set.all %}
    <span class="label label-default hidden-xs">{{ activity.activity_type.name }}</span>
    {% endfor %}
    {% else %}
    <span class="label label-danger">No activities for this engagement</span>
    {% endif %}
  </p>
</a>
