{% extends "pearson_requests/wizards/wizard_base.html" %}

{% block title %}Application Security Service Request{% endblock %}

{% block header %}Service Request{% endblock %}

{% block header_subtext %}Application Security{% endblock %}

{% block panel_title %}Where can we test the application?{% endblock %}

{% block form %}
  {% include "boh/snippets/form/_general.html" with control=wizard.form.location label='What are the URLs of the environment to be tested?' %}
  {% include "boh/snippets/form/_general.html" with control=wizard.form.credentials label='What roles and credentials can we use for testing?' %}
  {% include "boh/snippets/form/_general.html" with control=wizard.form.peroot_name label='What is your Pearson PEROOT username?' %}
  {% include "boh/snippets/form/_general.html" with control=wizard.form.notes label='Is there anything else we should know?' %}
{% endblock %}
