{% extends "pearson_requests/wizards/wizard_base.html" %}

{% block title %}Application Security Service Request{% endblock %}

{% block header %}Service Request{% endblock %}

{% block header_subtext %}Application Security{% endblock %}

{% block panel_title %}Checkmarx{% endblock %}

{% block form %}
  {% include "boh/snippets/form/_general.html" with control=wizard.form.repository_type label='How is the source code being tracked?' %}
  {% include "boh/snippets/form/_general.html" with control=wizard.form.location label='Where are the repositories located?' %}
  {% include "boh/snippets/form/_general.html" with control=wizard.form.email label='What is your Pearson email address?' %}
  {% include "boh/snippets/form/_general.html" with control=wizard.form.notes label='Is there anything else we should know?' %}
{% endblock %}
