{% extends "pearson_requests/wizards/wizard_base.html" %}

{% block title %}Application Security Service Request{% endblock %}

{% block header %}Service Request{% endblock %}

{% block header_subtext %}Application Security{% endblock %}

{% block panel_title %}Please provide additional contact information{% endblock %}

{% block form %}
  <div class="alert alert-info" role="alert"><strong>Welcome!</strong> This appears to be your first service request. Please provide us with a way to contact you!</div>

  <div class="row">
    <div class="col-md-6">
      {% include "boh/snippets/form/_general.html" with control=wizard.form.first_name %}
    </div>
    <div class="col-md-6">
      {% include "boh/snippets/form/_general.html" with control=wizard.form.last_name %}
    </div>
  </div>

  {% include "boh/snippets/form/_general.html" with control=wizard.form.email %}

  <div class="row">
    <div class="col-md-6">
      {% include "boh/snippets/form/_general.html" with control=wizard.form.role %}
    </div>
    <div class="col-md-6">
      {% include "boh/snippets/form/_general.html" with control=wizard.form.job_title %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      {% include "boh/snippets/form/_general.html" with control=wizard.form.phone_work %}
    </div>
    <div class="col-md-6">
      {% include "boh/snippets/form/_general.html" with control=wizard.form.phone_mobile %}
    </div>
  </div>
{% endblock %}
