{% extends "boh/environment/edit/base_edit.html" %}

{% load i18n %}

{% block edit_content %}
<form method="post" action="{% url 'boh:environment.edit.credentials' environment.id %}">
  {% csrf_token %}
  {{ formset.management_form }}
  <div class="panel panel-default">
    <div class="panel-body">
      {% for form in formset.forms %}
      <div class="panel panel-{% if not forloop.last %}default{% else %}info{% endif %}{% if forloop.last %} no-margin-bottom{% endif %}">
        <div class="panel-heading clearfix">
          {% if not forloop.last and formset.can_delete %}
          <div class="checkbox no-margin-top no-margin-bottom pull-right">
            <label>
              {{ form.DELETE }} {% trans 'Delete Credentials' %}
            </label>
          </div>
          {% endif %}
          <h4 class="panel-title pull-left"{% if not forloop.last %} style="padding-top: 2px;"{% endif %}>{% if forloop.last %}{% trans 'Add' %}{% else %}{% trans 'Edit' %}{% endif %} {% trans 'Credentials' %}</h4>
        </div>
        <div class="panel-body">
          {{ form.id }}
          {% include "boh/snippets/form/_general.html" with control=form.username %}
          {% include "boh/snippets/form/_general.html" with control=form.password %}
          {% include "boh/snippets/form/_general.html" with control=form.role_description %}
          {% include "boh/snippets/form/_general.html" with control=form.notes %}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" type="submit">{% trans 'Update Environment Credentials' %}</button>
    </div>
  </div>
</form>
{% endblock edit_content %}
